// /**
//  * Copyright © 2022 Kemana. All rights reserved.
//  * @author Ashan Gunawardena <agunawardena@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .autocomplete-suggestions {
        background: @color-white;
        padding: 10px;
        box-shadow: 0 0 10px grey;
    }


    .post-list-wrapper {
        .lib-css(background-color, @color-pg-light-gray2);

        .blog-widget-title {
            display: inline-block;
            .lib-title-with-border(
                @title-text-underline__enable: true
            );
        }

        span {
            a {
                .lib-font-size(14);
                .lib-line-height(24);
                font-weight: @font-weight__bold;
                margin-left: 15px;
                .lib-icon-font(
                    @icon-pg-right-thick,
                    @_icon-font: @icon-font,
                    @_icon-font-position: after,
                    @_icon-font-color: @kemana-primary-brand-color,
                    @_icon-font-size: 10px,
                    @_icon-font-line-height: 24px);
                position: relative;
                padding-right: 13px;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .post-list-container {
        .lib-css(transition, ease .5s, @_prefix: 1);

        .post-item-wrapper {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column);
            .lib-css(background-color, @color-white);
            height: 100%;
            border-radius: @common-border-radius;

            .post-image {
                a {
                    img {
                        border-radius: @common-border-radius @common-border-radius 0 0;
                    }
                }
            }

            .post-info-wrapper {
                float: left;
                padding: 18px 20px;

                .mp-post-info,
                .mp-post-meta-info {
                    display: none;
                }

                .mp-post-title {
                    .lib-heading(h5);
                    margin-bottom: 16px;
                }

                .post-short-description {
                    p {
                        margin-bottom: 8px;
                    }
                }
            }

            &:hover {
                .lib-css(box-shadow, @common__box-shadow);
                .lib-css(transition, ease .5s, @_prefix: 1);
            }
        }

    }

    .post-list-content {
        .post-list-body {
            //.lib-vendor-prefix-display();
            //.lib-vendor-prefix-flex-wrap();
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-columns: repeat(1, 1fr);
            // grid-template-columns: repeat(3, 180px);

            .post-list-item {
                .post-item-wrapper {
                    .lib-css(background, @panel__background-color);
                    border-radius: @common-border-radius;
                    height: 100%;

                    .post-image {
                        img {
                            border-radius: 5px 5px 0 0;
                            height: 185px;
                        }
                    }

                    .post-info-wrapper {
                        float: left;
                        padding: 20px;

                        h2 {
                            .lib-font-size(14);
                            .lib-line-height(24);
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            display: -webkit-box;
                            overflow: hidden;
                            margin-bottom: 0;
                        }

                        .post-short-description {
                            margin: 20px 0;

                            p {
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                line-clamp: 2;
                                display: -webkit-box;
                                overflow: hidden;
                                margin-bottom: 0;
                            }
                        }

                    }
                }
            }
        }

        .post-list-item:hover {
            box-shadow: 0px 5px 20px #00000021;
        }

        .pager {
            //margin-top: 40px;

            .toolbar-amount {
                display: none;
            }

            .pages {
                text-align: center;
                margin-top: 40px;
            }
        }
    }

    .sidebar {
        .mpblog-search {
            position: relative;
            margin-bottom: 20px;

            .label {
                display: none;
            }

            .control {
                input {
                    padding-left: 46px;
                }
            }

            .actions {
                position: absolute;
                top: 1px;
                left: 1px;

                button {
                    height: 38px;
                    width: 38px;
                    background: transparent;
                    border: none;
                    padding: 0;

                    .lib-icon-font(
                        @icon-pg-search,
                        @_icon-font-size: 20px
                    )
                }
            }
        }

        .mp-sidebar {
            &.product {
                &.info {
                    &.detailed {
                        margin-bottom: 15px;

                        .product {
                            display: flex;
                            flex-wrap: wrap;

                            &.data {
                                &.items {
                                    margin-bottom: 15px;

                                    > .item {
                                        &.title {
                                            width: 50%;
                                            margin-right: 0;
                                            margin-bottom: 0;

                                            a {
                                                display: block;
                                                height: 47px;
                                                .lib-font-size(12);
                                                .lib-line-height(17px);
                                                .lib-css(font-weight, @font-weight__bold);
                                                text-align: center;
                                                padding: 15px;
                                                .lib-css(background, @color-pg-light-gray2);
                                                .lib-css(border, 1px solid @color-pg-light-gray2);
                                                border-bottom: none;
                                                border-radius: 0 5px 0 0;
                                                cursor: pointer;

                                                &:after {
                                                    display: none;
                                                }
                                            }

                                            &.active {
                                                a {
                                                    .lib-css(background, @color-white);
                                                }
                                            }

                                            &:first-child {
                                                a {
                                                    border-radius: 5px 0 0 0;
                                                }
                                            }
                                        }

                                        &.content {
                                            //margin-top: 47px;
                                            border: 1px solid @color-pg-light-gray2;
                                            border-top: none;
                                            padding: 30px;
                                            border-radius: 0 0 5px 5px;
                                            width: 100%;

                                            .list-post-tabs {
                                                .lib-vendor-prefix-display();
                                                margin-bottom: 20px;

                                                .post-left {
                                                    width: 80px;

                                                    img {
                                                        width: 70px;
                                                        height: 42px;
                                                        border-radius: @common-border-radius;
                                                    }
                                                }

                                                .post-right {
                                                    width: ~'calc(100% - 80px)';

                                                    a {
                                                        span {
                                                            font-weight: @font-weight__bold;
                                                        }
                                                    }

                                                    span.create-at {
                                                        display: block;
                                                        width: 100%;
                                                        margin-top: 4px;
                                                        .lib-font-size(10);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .product .item:nth-child(1) {
                            order: 1;
                        }

                        .product .item:nth-child(2) {
                            order: 3;
                        }

                        .product .item:nth-child(3) {
                            order: 2;
                        }

                        .product .item:nth-child(4) {
                            order: 4;
                        }
                    }
                }
            }

            &.mpcss {
                border-radius: @common-border-radius;
                background: @panel__background-color;
                padding: 30px;
                margin-bottom: 20px;

                .block-title {
                    h6 {
                        .lib-font-size(16);
                        margin-bottom: 10px;
                    }
                }

                .mpcss-content-wrapper {
                    ul {
                        list-style: none;
                        padding-left: 0;
                        margin-block: 0;

                        li {
                            &:last-child {
                                margin-bottom: 0;
                            }

                            &.archive-item {
                                a {
                                    .fa-calendar {
                                        position: relative;
                                        font-style: normal;
                                        z-index: 1;
                                        .lib-icon-font(
                                            @icon-pg-calendar,
                                            @_icon-font-size: 14px,
                                            @_icon-font-color: @color-pg-light-gray,
                                            @_icon-font-margin: 0 2px 0 0
                                        );
                                    }
                                    .count {
                                        color: @color-pg-dark-gray;
                                        margin: 0 0 0 3px;
                                    }
                                }
                            }
                        }
                    }

                    &.tags-lists {
                        margin-inline: -5px;

                        a {
                            display: inline-block;
                            border: 1px solid @color-pg-light-gray;
                            padding: 5px 10px;
                            height: 33px;
                            .lib-line-height(21);
                            border-radius: @common-border-radius;
                            margin: 5px;

                            &:hover {
                                text-decoration: none;
                                border-color: @kemana-primary-brand-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .mp-blog-view {
        .mp-blog-rss {
            display: none;
        }

        .post-view {
            background: @panel__background-color;
            border-radius: @common-border-radius;
            padding: 27px 30px 30px;

            .post-list-content {
                .post-view-image {
                    margin-bottom: 30px;

                    img {
                        width: 100%;
                    }
                }

                .post-post_content {
                    p {
                        margin-bottom: 20px;
                    }

                    ul {
                        margin: 0;
                        padding-left: 16px;
                        list-style-type: disc;

                        li {
                        }
                    }
                }
            }
        }

        .mp-blog-share {
            margin-top: 20px;
            background: @panel__background-color;
            border-radius: @common-border-radius;
            padding: 30px;
        }

        // Related Posts
        .block-blog-related {
            margin-top: 40px;
            //background: @panel__background-color;
            //border-radius: @common-border-radius;
            //padding: 30px;

            .lib-title-with-border(@title-text-underline__enable: true);

            &.topic-list {
                margin-inline: -10px;
                margin-top: 40px;
                width: ~'calc(100% + 20px)';

                h2 {
                    margin-inline: 10px;
                }

                .post-list-item {
                    padding: 10px;

                    .post-item-wrapper {
                        background: @panel__background-color;
                        border-radius: @common-border-radius;
                        .lib-vendor-prefix-display();
                        .lib-vendor-prefix-flex-direction();

                        &:hover {
                            box-shadow: @common__box-shadow;
                            .lib-css(transition, ease .5s, @_prefix: 1);
                        }

                        .post-image {
                            img {
                                border-radius: @common-border-radius @common-border-radius 0 0;
                            }
                        }

                        .post-info-wrapper {
                            padding: 15px 20px;
                        }
                    }
                }
            }

            .owl-carousel {
                position: relative;

                .owl-nav {
                    margin-inline: -10px;
                    .lib-vendor-prefix-display();
                    justify-content: space-between;
                    width: ~'calc(100% + 20px)';
                    position: absolute;
                    top: 50%;

                    .owl-prev {
                        left: 0;
                    }

                    .owl-next {
                        right: 0;
                    }

                    .disabled {
                        opacity: 0;
                    }
                }
            }
        }

        // Related Products
        .products-same-post {
            margin-inline: -10px;
            width: ~'calc(100% + 20px)';

            h2 {
                margin-inline: 10px;
            }

            .related-content-container {
                .products-grid {
                    margin: 0;
                }

                .product-item {
                    width: 100%;

                    .product-item-info {
                        background: @panel__background-color;
                        border-radius: @common-border-radius;
                        padding: 10px;

                    }
                }
            }
        }

        .social-share {
            margin-top: 20px;
            padding: 23px 30px;
            border-radius: @common-border-radius;

            .title {
                .lib-font-size(14);
                .lib-line-height(30);
            }

            .mp_social_share_inline_under_cart {
                margin-left: 15px;
            }
        }

        .about-admin,
        .blog-comment {
            display: none;
        }
    }

    .mp-post-info {
        .lib-font-size(10);
        .lib-line-height(13);

        a {
            .lib-css(font-weight, @font-weight__bold);
        }

        i.mp-blog-icon {
            font-style: unset;
        }

        .line {
            display: inline-block;
            padding-inline: 7px;
            .lib-css(color, @color-pg-light-gray);
        }

        .mp-blog-calendar-times {
            .lib-icon-font(
                @icon-pg-calendar,
                @_icon-font-size: 14px,
                @_icon-font-color: @color-pg-light-gray,
                @_icon-font-margin: 0 2px 0 0
            );
        }

        .mp-blog-traffic {
            .lib-icon-font(
                @icon-pg-open-eye,
                @_icon-font-size: 14px,
                @_icon-font-color: @color-pg-light-gray,
                @_icon-font-margin: 0 7px 0 0
            );
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .mpblog-post-index,
    .mpblog-post-view,
    .mpblog-category-view,
    .mpblog-month-view,
    .mpblog-topic-view,
    .mpblog-tag-view {
        .page-main {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column);
        }

        .sidebar {
            order: 4;
        }

        .page-title-wrapper {
            h1.page-title {
                .lib-heading(h2);
                margin-bottom: 26px;
            }

            order: 1;
        }

        .messages {
            order: 2;
        }

        .columns {
            order: 3;
        }
    }

    .post-list-body {
        .post-list-item {
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .post-list-wrapper {
        padding: @block-padding 10px;

        .post-list-inner-container {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column);

            .blog-widget-title {
                order: 1;

                h2 {
                    margin-bottom: 20px;
                }
            }

            span {
                order: 3;
                text-align: center;
            }

            .post-list-container {
                order: 2;

                .row {
                    margin-inline: 0;
                }

                .post-list-item {
                    padding-inline: 0;
                    margin-bottom: 20px;
                }

                .post-item-wrapper {
                    padding: 0;

                }
            }
        }
    }

    .mp-blog-view {
        .post-view {
            padding: 27px 10px 30px;
            margin-inline: -10px;
        }

        .social-share {
            padding: 27px 10px 30px;
            margin-inline: -10px;

            .mp_social_share_inline_under_cart {
                margin-left: -5px;
            }
        }

        .block-blog-related {
            .owl-carousel {
                display: block;
            }

            &.topic-list {
                .post-list-item {
                    .post-item-wrapper {
                        .post-image {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .sidebar .mp-sidebar.product.info.detailed .product {
        flex-wrap: unset;
    }

    .post-list-content .post-list-body {
        grid-template-columns: repeat(2, 1fr);
    }

    .mpblog-post-index,
    .mpblog-post-view,
    .mpblog-category-view,
    .mpblog-month-view,
    .mpblog-topic-view,
    .mpblog-tag-view {
        .sidebar {
            width: 330px;
            padding-left: 20px;
        }

        .column.main {
            width: ~'calc(100% - 330px)';

        }

        .page-title-wrapper {
            h1.page-title {
                .lib-font-size(28);
                .lib-line-height(38);
            }
        }
    }

    .post-list-wrapper {
        padding-block: @block-padding - 2 @block-padding;

        .post-list-inner-container {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction(column);
            max-width: @layout__max-width;
            padding-inline: 40px;
            margin-inline: auto;

            .post-list-item {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .blog-widget-title {
                order: 1;
            }

            span {
                order: 3;
                //margin-top: 20px;
                text-align: center;
            }

            .post-list-container {
                order: 2;
            }
        }
    }

    //.post-list-content {
    //    .post-list-body {
    //        margin: -10px -10px 0;
    //
    //        .post-list-item {
    //            width: 33.33%;
    //            padding: 10px;
    //        }
    //    }
    //}
}

//
//  Desktop Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .post-list-content .post-list-body {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-list-wrapper {
        .post-list-inner-container {
            display: block;
            padding-inline: @indent__s;

            .blog-widget-title {
                order: unset;
            }

            span {
                order: unset;
            }

            .post-list-container {
                order: unset;

                .post-list-item {
                    margin-bottom: 0;
                }
            }
        }
    }
}
