// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Ashan Gunawardena <agunawardena@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-featured-brand-container {
        .lib-css(background, @home-featured-brand-container__background);
        .lib-css(padding, @home-featured-brand-container__padding);
    }

    .catalog-category-view {
        .page-main {
            .header-cont {
                display: none;
            }
        }
    }

    .brand-featured,
    .brand-chared {
        .block-title {
            .lib-typography(
                @_color: false,
                @_font-family: @home-featured-brand-container-title__font-family,
                @_font-size: @home-featured-brand-container-title__font-size,
                @_font-style: false,
                @_font-weight: @home-featured-brand-container-title__font-weight,
                @_line-height: 35px
            );
            margin-bottom: 25px;
            text-align: center;

            strong {
                font-weight: normal;
            }
        }
    }

    .brand-content-wrapper {
        .brand-container {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-wrap();
            .lib-css(margin-left, -@indent__xs);
            .lib-css(margin-right, -@indent__xs);
            justify-content: center;
            padding-left: 0;
            margin-bottom: 24px;

            .block-item {
                width: calc(~'100%/@{brand-mobile-grid-item-count}');
                .lib-css(padding, @brand-mobile-grid-item__padding);
                .lib-css(margin, @brand-mobile-grid-item__margin);
                .lib-vendor-prefix-display();
                align-items: center;
                justify-content: center;

                a {
                    .lib-css(border, @brand-item-logo__border);
                    padding: @indent__s;

                    &:hover {
                        .lib-css(border, @brand-item-logo-hover__border);
                    }
                }

                .item-image {
                    .lib-css(width, @brand-mobile-item-logo__width);
                    .lib-css(height, @brand-item-logo__height) !important;
                    object-fit: contain;
                    border-radius: 5px;
                }

                .item-name {
                    .lib-vendor-prefix-display();
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                    display: none;
                }
            }
        }
    }

    .home-featured-brand-container {
        .lib-vendor-prefix-display();

        .block-brand-featured {
            .lib-css(max-width, @layout__max-width);
            .lib-css(padding-left, 0);
            .lib-css(padding-right, 0);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;

            .block-content-wrapper {
                .lib-vendor-prefix-display();

                .brand-container {
                    padding-left: 0;

                    .block-item {
                        width: ~'calc(100%/6 - 16.66px)';
                        .lib-css(padding, @brand-mobile-grid-item__padding);
                        .lib-css(margin, @brand-mobile-grid-item__margin);
                        .lib-vendor-prefix-display();
                        .lib-css(border, @brand-item-logo__border);
                        align-items: center;
                        justify-content: center;
                        float: left;

                        &:hover {
                            .lib-css(border, @brand-item-logo-hover__border);
                        }

                        .item-image {
                            .lib-css(width, @brand-mobile-item-logo__width);
                            .lib-css(height, @brand-item-logo__height) !important;
                            object-fit: contain;
                        }

                        .item-name {
                            .lib-vendor-prefix-display();
                            justify-content: center;
                            width: 100%;
                            text-align: center;
                            display: none;
                        }

                        &:nth-child(6n) {
                            margin-right: 0;
                        }
                    }

                }
                .actions-toolbar {
                    display: none;

                    .primary {
                        width: 100%;
                        a{
                            margin-left: 42%;
                            width: 185px;
                        }
                    }
                }

            }

            .block-title {
                .lib-typography(
                    @_color: @home-featured-brand-container-title__color,
                    @_font-family: @home-featured-brand-container-title__font-family,
                    @_font-size: @home-featured-brand-container-title__font-size,
                    @_font-style: false,
                    @_font-weight: @home-featured-brand-container-title__font-weight,
                    @_line-height: @home-featured-brand-container-title__line-height
                );
                .lib-css(text-transform, @home-featured-brand-container-title__text-transform);
                margin-bottom: 10px;
                display: inline-block;

                h2 {
                    span {
                        display: inline-block;
                        .lib-css(margin-bottom, 0);

                        &:after {
                            content: '';
                            display: block;
                            margin: auto;
                            .lib-css(margin-top, -10px);
                            .lib-css(width, 100%);
                            .lib-css(height, 10px);
                            .lib-css(background, @kemana-secondary-brand-color);
                        }
                    }
                }

                //& when (@home-featured-brand-container-title-border = true) {
                //    &:after {
                //        .lib-css(border-bottom, @home-featured-brand-container-title__border-bottom);
                //        content: '';
                //        display: block;
                //        margin: 12px auto 0;
                //        width: 40px;
                //        height: 1px;
                //        line-height: 1px;
                //        font-size: 1px;
                //    }
                //}
            }

            span {
                a {
                    .lib-font-size(14);
                    .lib-line-height(24);
                    font-weight: @font-weight__bold;
                    margin-left: 12px;
                    .lib-icon-font(
                        @icon-pg-right-thick,
                        @_icon-font: @icon-font,
                        @_icon-font-position: after,
                        @_icon-font-color: @kemana-primary-brand-color,
                        @_icon-font-size: 10px,
                        @_icon-font-line-height: 24px);
                    position: relative;
                    padding-right: 13px;

                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .block-button-wrapper {
            text-align: center;

            a {
                .lib-link-as-button();
                .lib-button-primary();
            }
        }
    }

    .brand-chared {
        .block-content {
            .block-char {
                .lib-css(margin-bottom, @indent__base);
            }

            .sort-wrapper {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-wrap();

                .alpha-sort {
                    .lib-vendor-prefix-display();
                    .lib-vendor-prefix-flex-wrap();
                    justify-content: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        .lib-css(padding, @brand-character-list-item__margin);
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        margin-bottom: @indent__s;

                        span,
                        a {
                            .lib-css(height, @brand-character-list-item__width);
                            .lib-css(width, @brand-character-list-item__width);
                            .lib-css(border, @brand-character-list-item__border);
                            .lib-css(background, @brand-character-list-item__background);
                            .lib-css(padding, @brand-character-list-item__padding);
                            display: inline-block;
                        }

                        &.disable {
                            pointer-events: none;

                            a,
                            span {
                                .lib-css(background, @brand-character-list-item-disable__background);
                                .lib-css(opacity, @brand-character-list-item-disable__opacity);
                            }
                        }
                    }
                }
            }

            .list-char-container {
                .lib-css(border-top, @brand-character-list-item__border);
                width: 100%;
                padding-top: 17px;
                margin-top: @indent__s;
            }

            .list-char-item {
                .lib-css(border-top, @brand-character-list-item__border);
                padding-top: 16px;
                padding-bottom: 18px;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;

                    .list-char {
                        padding-bottom: 0;
                    }
                }

                .list-char {
                    width: 100%;
                    text-align: left;
                    .lib-typography(
                        @_color: @brand-character-value__color,
                        @_font-family: @brand-character-value__font-family,
                        @_font-size: @brand-character-value-mobile__font-size,
                        @_font-style: false,
                        @_font-weight: @brand-character-value__font-weight,
                        @_line-height: @brand-character-value-mobile__line-height
                    );

                    strong {
                        .lib-css(font-weight, @brand-character-value__font-weight);
                    }
                }

                .list-brand {
                    width: 100%;

                    ul {
                        width: 100%;
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            .lib-css(margin-bottom, @brand-character-list-item__margin-bottom);
                            .lib-typography(
                                @_color: @brand-character-list-item__color,
                                @_font-family: false,
                                @_font-size: @brand-character-list-item__font-size,
                                @_font-style: false,
                                @_font-weight: @brand-character-list-item__font-weight,
                                @_line-height: @brand-character-list-item__line-height
                            );
                            width: 100%;

                            a {
                                .lib-css(color, @brand-character-list-item__color);
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .home-featured-brand-container {
        .block-brand-featured {
            .block-content-wrapper {
                .brand-container {
                    .block-item {
                        width: ~'calc(100%/2 - 5px)';
                        margin: 0 10px 10px 0;

                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .brand-chared {
        .block-content {
            .sort-wrapper {
                .alpha-sort {
                    margin-left: -@indent__xs;
                    margin-right: -@indent__xs;
                    width: ~'calc(100% + 10px)';

                    li {
                        width: calc(~'100%/8');

                        a,
                        span {
                            width: 100%;
                        }
                    }
                }
            }

            .list-char-container {
                .list-char {
                    margin-bottom: 15px;
                }

                .list-brand {
                    ul {
                        li {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .brand-container {
        &.block-brand-featured {
            .lib-css(padding-left, @layout-indent__width);
            .lib-css(padding-right, @layout-indent__width);
        }
    }

    .brand-content-wrapper {
        .brand-container {
            .lib-css(margin-left, @brand-item-logo-container-desktop__margin);
            .lib-css(margin-right, @brand-item-logo-container-desktop__margin);
            margin-bottom: 29px;

            .block-item {
                width: calc(~'100%/@{brand-tablet-grid-item-count}');
                .lib-css(height, @brand-item-logo-container__height);
                .lib-css(padding, @brand-desktop-grid-item__padding);
                .lib-css(margin-bottom, @brand-desktop-grid-item__margin-bottom);
            }
        }
    }

    .home-featured-brand-container {
        .block-brand-featured {
            .block-title {
                h2 {
                    .lib-font-size(28);
                    .lib-line-height(31);
                }
            }
        }
        .brand-content-wrapper {
            .brand-container {
                .lib-css(margin-left, @brand-item-logo-container-home-desktop__margin);
                .lib-css(margin-right, @brand-item-logo-container-home-desktop__margin);
            }
        }
    }

    .brand-chared {
        .block-content {
            .block-char {
                .lib-css(margin-bottom, @indent__l);
            }

            .list-char-container {
                .lib-vendor-prefix-display();
                .lib-vendor-prefix-flex-wrap();
                padding-top: 0;
                margin-top: @indent__base;

                .list-char-item {
                    .lib-vendor-prefix-display();
                    width: 100%;
                    padding-top: 28px;
                    padding-bottom: 28px;

                    &:last-child {
                        padding-bottom: 0;
                    }
                }

                .list-char {
                    .lib-font-size(@brand-character-value-desktop__font-size);
                    .lib-line-height(@brand-character-value-desktop__line-height);
                    width: 100%;
                    max-width: 108px;
                    padding-left: 30px;
                }

                .list-brand {
                    ul {
                        .lib-vendor-prefix-display();
                        .lib-vendor-prefix-flex-wrap();

                        li {
                            width: 33.33%;
                        }
                    }
                }
            }
        }
    }
}


//
//  Desktop Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .brand-content-wrapper {
        .brand-container {
            .block-item {
                width: calc(~'100%/@{brand-desktop-grid-item-count}');
            }
        }
    }

    .home-featured-brand-container {
        .lib-css(max-width, @layout__max-width);
        margin-left: auto;
        margin-right: auto;
    }
}

//
//  Desktop Extra Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .brand-chared {
        .block-content {
            .sort-wrapper {
                .alpha-sort {
                    .lib-vendor-prefix-flex-direction(space-between);
                    align-items: center;
                    align-content: center;
                }
            }
        }
    }
}
