<div class="row shipping-insurance" data-bind="visible: isVisibleTemp()">
    <input type="checkbox"
           event="click: eventClick"
           ko-checked="isChecked"
           data-bind="attr: {class: getClassInput}"/>
    <span class="insurance-header" data-bind="i18n: 'Shipping Insurance'"></span>
    <div class="insurance-content">
        <span class="insurance-short-description">
            <p data-bind="i18n: 'By using shipping insurance, I agree'"></p>
                <span data-bind="i18n: 'with '"></span>
                    <a href="#" data-bind="i18n: 'terms and conditions'"></a>
                <span data-bind="i18n: ' applicable.'"></span>
        </span>
    </div>
</div>