<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_Promotion
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="promotion" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Promotions</label>
            <tab>kemana</tab>
            <resource>Kemana_Promotion::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="landing_page_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Landing Page Title</label>
                </field>
                <field id="landing_page_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Landing Page URL</label>
                </field>
                <field id="promotion_short_content_length_on_landing_page" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promotion Short Content Length on Landing Page</label>
                    <validate>integer</validate>
                </field>
                <field id="promotions_per_page" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Promotions Per Page in Listing Page</label>
                    <validate>integer</validate>
                </field>
            </group>
        </section>
    </system>
</config>
