<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_BlogArticle
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Kristian Claridad <kclaridad@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Blog post listing -->
    <type name="Kemana\Blog\Block\Frontend">
        <plugin name="kemana_blog_post_list_getPostInfo"
                type="Kemana\BlogArticle\Plugin\Block\Blog\Frontend" sortOrder="10" />
    </type>
</config>
