// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Ashan Gunawardena <agunawardena@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________

@pdp-page-max-width: 1320px;

@pdp-sub-heading__text-transform: uppercase;

@pdp-sub-heading__padding: 0 0 20px;
@pdp-sub-heading__margin: 0 0 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-info-main {
        .product-info-price {
            .product-info-stock-sku {
                //margin-bottom: 0;

                .sku {
                    .type {
                        display: none;
                    }

                    .value {
                        .lib-font-size(14);
                        .lib-css(color, @color-kemana-dark1);
                        padding-right: 10px;
                    }
                }

                .stock {
                    .lib-css(font-family, @font-family-name__base);
                    .lib-css(color, @kemana-primary-brand-color);
                    .lib-font-size(12);
                    .lib-line-height(20);
                    text-transform: none;
                    font-weight: @font-weight__heavier;
                    .lib-icon-font(
                        @icon-pg-stock,
                        @_icon-font-size: 14px,
                        @_icon-font-margin: 0 6px 0 0);
                    margin-bottom: 0;

                    &.unavailable {
                        .lib-css(color, @color-kemana-dark2);
                    }
                }
            }

            .product-reviews-summary {
                margin-top: 0;
                padding-bottom: 26px;

                &.empty {
                    .add {
                        font-style: normal;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    .rating-summary {
                        display: none;
                    }
                }

                .reviews-actions {
                    a {
                        span {
                            &:first-child {
                                margin-right: -3px;
                            }
                        }
                    }
                }

                .rating-summary {
                    margin-right: 10px;

                    .rating-result {
                        width: 96px;
                    }
                }
            }

            .price-box {
                margin-top: 0;

                .minimal-price {
                    margin-bottom: 20px;

                    .price-label {
                        display: block !important;
                        margin-bottom: 6px;
                    }

                }
            }
        }

        .product-add-form {
            form {
                position: relative;

                .size-guide {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;

                    #size-chart {
                        .lib-icon-font(
                            @icon-size-guide,
                            @_icon-font: @icon-font,
                            @_icon-font-color: @color-kemana-dark3,
                            @_icon-font-size: 15px,
                            @_icon-font-line-height: 20px,
                            @_icon-font-margin: 0 auto,
                            @_icon-font-vertical-align: top,
                            @_icon-font-position: before
                        );

                        p {
                            .lib-css(font-family, @font-family-name__base);
                            .lib-css(color, @color-kemana-dark4);
                            .lib-css(font-weight, @font-weight__heavier);
                            .lib-font-size(14);
                            padding-left: 5px;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .product-options-wrapper {
                    .fieldset {
                        margin-bottom: 0;

                        .swatch-opt {
                            margin-bottom: 20px;

                            .swatch-attribute-selected-option {
                                display: inline-block;
                                .lib-css(color, @kemana-primary-brand-color);
                                padding-left: 10px;
                            }

                            .size {
                                margin-bottom: 10px;
                                position: relative;

                                .mage-error {
                                    .lib-font-size(14);
                                    position: absolute;
                                    top: -7px;
                                    left: 38px;
                                    font-style: italic;
                                }
                            }

                            .color {
                                position: relative;

                                div.mage-error {
                                    .lib-font-size(10);
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    font-style: normal;
                                }
                            }

                            .swatch-attribute-label {
                                margin-bottom: 10px;
                                width: 100%;
                                float: left;
                                .lib-line-height(13);
                                display: contents;
                            }
                        }
                    }
                }


                .product-options-bottom {
                    .box-tocart {
                        margin-top: 0;

                        .qty {
                            label {
                                .lib-line-height(20);
                                margin-bottom: 6px;
                                float: left;
                                .lib-css(font-weight, @font-weight__bold);
                            }
                        }
                    }
                }
            }

            .product-options-wrapper {
                .swatch-attribute {
                    &.capacity {
                        margin-bottom: 20px;
                    }

                    &.color {
                        .swatch-option {
                            &.image {
                                width: 60px !important;
                                height: 60px !important;
                                border: 1px solid @color-pg-light-gray;
                                border-radius: @common-border-radius;
                                padding: 10px;

                                &:hover {
                                    border: 1px solid @kemana-primary-brand-color;
                                }
                            }

                            &.selected {
                                border: 1px solid @kemana-secondary-brand-color;
                            }
                        }
                    }
                }

            }

            .table-wrapper {
                .grouped {
                    thead  {
                        tr {
                            th {
                                border-bottom: none;
                                padding: 0;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                border-bottom: 1px solid @color-pg-light-gray2;
                                &.qty {
                                    padding-right: 20px;
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-social-links {
            text-align: left;
            float: left;
            width: 100%;
            .lib-vendor-prefix-display();
            margin-bottom: 25px;

            .product-addto-links {
                .lib-vendor-prefix-display(flex);

                .action {
                    .lib-css(font-family, @font-family-name__base);
                    .lib-css(font-weight, @font-weight__bold);
                    .lib-font-size(12);
                    padding: 0;
                    border: none;
                    background: transparent;
                    .lib-css(color, @kemana-primary-brand-color);

                    &.towishlist {
                        .lib-icon-font(
                            @product-grid-wishlist-icon,
                            @_icon-font: @icon-font,
                            @_icon-font-color: @product-grid-wishlist-icon-color,
                            @_icon-font-color-hover: @product-grid-wishlist-icon-hover,
                            @_icon-font-size: @product-grid-wishlist-icon-size,
                            @_icon-font-line-height: @product-grid-wishlist-icon-line-height,
                            @_icon-font-margin: 2px 10px 0 0,
                            @_icon-font-vertical-align: top,
                            @_icon-font-position: before
                        );

                        &:before {
                            width: 16px;
                        }

                        &.active {
                            &:before {
                                .lib-css(color, @product-grid-wishlist-icon-active);
                            }
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                form.compare-form {
                    margin-left: 30px;

                    button {
                        .lib-icon-font(
                            @icon-pg-compare,
                            @_icon-font: @icon-font,
                            @_icon-font-color: @product-grid-wishlist-icon-color,
                            @_icon-font-color-hover: @product-grid-wishlist-icon-hover,
                            @_icon-font-size: 18px,
                            @_icon-font-line-height: @product-grid-wishlist-icon-line-height,
                            @_icon-font-margin: 2px 10px 0 0,
                            @_icon-font-vertical-align: top,
                            @_icon-font-position: before
                        );

                        &:active {
                            box-shadow: none;
                        }

                        img {
                            display: none;
                        }

                        span {
                            .lib-line-height(20);
                            text-transform: none;
                        }
                    }
                }
            }

            .social-share {
                margin-left: 30px;

                .title {
                    .lib-font-size(12);
                    .lib-css(font-weight, @font-weight__bold);
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        .product {
            &.pricing {
                float: left;
                width: 100%;
                margin-bottom: 10px;
                display: none;
            }
        }

        .available-source-locations-link {
            float: left;
            width: 100%;
            .lib-icon-font(
                @icon-pg-store,
                @_icon-font-color: @color-pg-light-gray,
                @_icon-font-margin: -1px 6px 0 0,
                @_icon-font-size: 14px
            );

            &:before {
                width: 18px;
            }

            a {
                font-weight: @font-weight__bold;
            }
        }

        .box-tocart {
            .field {
                &.qty {
                    .lib-vendor-prefix-display();
                    .lib-vendor-prefix-flex-direction(column);

                    label.label {
                        .lib-css(font-weight, @font-weight__bold);
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }

    .catalog-product-view {
        .product {
            .data.items {
                .lib-vendor-prefix-display(block);
                .lib-css(justify-content, space-between, 1);
                .lib-css(flex-wrap, wrap);
                .lib-vendor-prefix-flex-direction(row);

                > .item.title {
                    float: none;
                    width: 100%;
                    margin-right: 0;

                    .switch {
                        border: 0;
                        .lib-css(text-transform, @pdp-sub-heading__text-transform);
                        .lib-css(padding, @pdp-sub-heading__padding);
                        .lib-css(margin, @pdp-sub-heading__margin);
                        .lib-css(background, @color-white);
                        .lib-css(border-bottom, @border-width__base solid @border-color__base);
                        .lib-css(color, @kemana-primary-brand-color);
                        height: auto;
                        cursor: default;
                        display: block;
                        width: 100%;
                        line-height: normal;

                        &:visited {
                            .lib-css(color, @kemana-primary-brand-color);
                            text-decoration: none;
                        }
                    }
                }

                > .item.content {
                    .lib-css(color, @primary__color);
                    background: transparent;
                    display: block;
                    float: none;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    padding-bottom: 40px;

                    .block-title {
                        .lib-css(font-family, @sub-heading__font-family);
                    }

                    .description {
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-prefix-flex-direction(row);

                        .value {
                            width: 50%;
                            padding-right: 20px;
                        }

                        ul {
                            margin: 0;

                            li {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .specification {
                            width: 50%;

                            .switch {
                                .lib-css(font-family, @sub-heading__font-family);
                                .lib-font-size(16);
                                .lib-css(color, @kemana-primary-brand-color);
                                .lib-css(font-weight, @font-weight__heavier);
                                text-decoration: none;
                                line-height: normal;
                            }

                            .additional-attributes-wrapper {
                                padding-top: 20px;
                                margin-bottom: 0;

                                tr {
                                    th {
                                        display: none;
                                    }

                                    td {
                                        .lib-css(color, @primary__color);
                                        padding: 0 0 5px 0;
                                        .lib-icon-font(
                                            @icon-minus-icon,
                                            @_icon-font: @icon-font,
                                            @_icon-font-color: @color-kemana-dark3,
                                            @_icon-font-size: 1px,
                                            @_icon-font-line-height: 14px,
                                            @_icon-font-margin: 3px 5px 0 0,
                                            @_icon-font-vertical-align: top,
                                            @_icon-font-position: before
                                        );
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .block {
            &.related,
            &.upsell {
                .block-title {
                    text-align: left;

                    strong {
                        .lib-css(color, @kemana-primary-brand-color);
                        .lib-font-size(24px);
                        text-transform: none;
                    }
                }

                .block-content {
                    > .block-actions {
                        display: none;
                    }
                }
            }
        }

        .product-info-main{
            .product-info-price{
                .product-info-stock-sku{
                    display: flex;
                    flex-wrap: nowrap;

                    .ns-product-label{
                        //padding-right: 15px;
                        margin-top: -5px;
                        margin-left: 0;
                        padding-right: 10px;

                        li{
                            background-image: linear-gradient(#FF681A, #EB1717) !important;
                        }
                    }
                }
            }
        }

        .product.media{
            .ns-product-label{
                display: none;
            }
        }

        .product-full-width-section {
            &#additional {
                display: none;
            }
        }
    }

    .product {
        &.info {
            &.detailed {
                .title {
                    .lib-heading(h2);
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 0;

                    a {
                        position: relative;

                        &:hover {
                            text-decoration: none;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 40%;
                            height: 10px;
                            background: @kemana-secondary-brand-color;
                            right: 1px;
                            bottom: 2px;
                            z-index: -1;
                        }
                    }
                }

            }
        }
    }

    .input-group {
        border: 1px solid @color-pg-light-gray;
        border-radius: @common-border-radius;
        height: 40px;
        width: 114px;
        background: none;
        position: relative;
        left: 0;

        input {
            height: 38px;
            width: 34px;
            position: absolute;
            left: 40px;
            border: none;
            padding-inline: 0;
            text-align: center;
        }
        .input-group__addon {
            &.increase {
                float: right;
            }

            &.decrease {
                float: left;
            }
        }

        button {
            .lib-button-reset();
            padding: 15px;
            height: 38px;
            width: 40px;
            line-height: 10px;
            border: none;
            .lib-css(font-weight, @font-weight__bold);
            .lib-font-size(14);
        }
    }

    .catalog-product-view {
        .page-main.page-main-details{
            #reviews{
                .product-section-title{
                    z-index: 1;

                    span{
                        position: relative;

                        &:after{
                            content: '';
                            position: absolute;
                            width: 48%;
                            height: 10px;
                            background: @kemana-secondary-brand-color !important;
                            right: 0px;
                            margin-top: 20px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column {
            &.main {
                padding-bottom: 20px;
            }
        }

        .product-info-main {
            margin-bottom: 30px;
            margin-top: 20px;
            background: @panel__background-color;
            border-radius: @common-border-radius;
            margin-inline: -10px;
            padding: 30px 10px 40px;

            .product-add-form {
                .fieldset {
                    margin-bottom: 0;
                }

                .table-wrapper {
                    .grouped {
                        thead  {
                            tr {
                                th {
                                    display: block;
                                    padding-bottom: 16px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                padding-bottom: 15px;

                                &:last-child {
                                    .lib-css(padding-bottom, @indent__base - 5px);
                                    .lib-css(border-bottom, @border-width__base solid @color-kemana-gray5);
                                }

                                td {
                                    display: table-cell;

                                    &.qty {
                                        &:before {
                                            display: none;
                                        }
                                        width: 114px;
                                    }

                                    &.item {
                                        width: ~'calc(100% - 134px)';
                                        padding-left: 0;

                                        &:before {
                                            display: none;
                                        }

                                        .product-item-name {
                                            .lib-css(font-weight, @font-weight__heavier);
                                        }

                                        .price-box {
                                            .price-wrapper {
                                                .price {
                                                    .lib-font-size(14);
                                                    .lib-line-height(24);
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .product-social-links {
                text-align: center;
                width: 100%;

                .product-addto-links {
                    //display: inline-block;
                    .lib-vendor-prefix-display();

                    .action {
                        &.towishlist {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .product {
            .data.items {
                .item.content {
                    &#reviews {
                        .lib-vendor-prefix-flex-direction(column-reverse);
                        width: 100%;

                        #product-review-container {
                            width: 100%;
                            order: 2;
                        }
                    }

                    .description {
                        .lib-vendor-prefix-flex-direction(column);

                        .value {
                            width: 100%;
                            padding-bottom: 0;

                            p {
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .specification {
                            width: 100%;

                            .additional-attributes-wrapper {
                                tr {
                                    td {
                                        &:before {
                                            padding-right: 5px;
                                            width: auto;
                                            display: inline-block;
                                            position: static;
                                        }
                                    }
                                }

                                &.table-wrapper {
                                    .table:not(.cart) {
                                        &:not(.totals) {
                                            &:not(.table-comparison) {
                                                tbody {
                                                    > tr {
                                                        padding-bottom: 0;
                                                        margin-bottom: 0;
                                                        border-bottom: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.info {
                &.detailed {
                    .data-block {
                        .title {
                            .switch {
                                padding: 0;
                            }
                        }

                        &.block-reviews {
                            margin-top: 30px;
                            margin-inline: -10px;
                            padding: 25px 10px;
                            background: @panel__background-color;
                            border-radius: @common-border-radius;
                        }
                    }

                    .data-block-wrapper {
                        background: @panel__background-color;
                        border-radius: @common-border-radius;
                        margin-inline: -10px;
                        padding: 25px 10px;

                        .data-block-wrapper-right {
                            margin-top: 43px;

                            .title {
                                margin-bottom: 6px;
                            }

                            .additional-attributes-wrapper {
                                table.additional-attributes {
                                    tbody {
                                        tr {
                                            display: table-row;
                                            padding-bottom: 0;
                                            margin-bottom: 0;

                                            th {
                                                display: table-cell;
                                                width: 50%;
                                                padding: 17px 0 16px;
                                            }

                                            td {
                                                display: table-cell;
                                                width: 50%;
                                                padding: 17px 0 16px 10px;

                                                &:before {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .page-main.page-main-details{
            padding-left: unset !important;
            padding-right: unset !important;

            #reviews{
                background-color: @color-white;
                padding-left: 10px;
                padding-right: 10px;

                .product-section-title{
                    border-bottom: unset !important;
                    margin-bottom: unset !important;
                    padding-bottom: unset !important;
                }

                #customer-reviews{
                    display: none;
                }

                #product-review-container{
                    width: 100% !important;
                    
                    #customer-reviews{
                        display: unset !important;
                    }                    
                }
            }

            .block.upsell{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .page-main,
        .breadcrumbs,
        .messages {
            .lib-css(max-width, @pdp-page-max-width);
        }

        .messages {
            margin: auto;
        }

        .product {
            &.info {
                &.detailed {
                    .data-block {
                        .title {
                            .lib-heading(h2);
                            .lib-font-size(28);
                            .lib-line-height(38);
                            margin-bottom: 30px;
                            position: relative;
                            z-index: 0;

                            a {
                                position: relative;

                                &:hover {
                                    text-decoration: none;
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 47%;
                                    height: 10px;
                                    background: @kemana-secondary-brand-color;
                                    right: 1px;
                                    bottom: 2px;
                                    z-index: -1;
                                }
                            }
                        }

                        .additional-attributes-wrapper {
                            .col {
                                border-bottom: 1px solid @color-pg-light-gray2;
                            }

                            tbody {
                                tr {
                                    th {
                                        padding: 12px 30px 12px 0;
                                        min-width: 220px;
                                        width: 220px;
                                    }

                                    td {
                                        padding: 12px 0;
                                    }
                                }
                            }
                        }
                    }

                    .data-block-wrapper {
                        float: left;
                        width: 100%;
                        //.lib-vendor-prefix-display();
                        margin-bottom: 30px;
                        background: @color-white;
                        border-radius: @common-border-radius;

                        .block-description {
                            float: left;
                            width: 50%;
                            padding: 30px;
                        }

                        .data-block-wrapper-right {
                            float: right;
                            width: ~'calc(50% - 10px)';
                            padding: 30px 30px 30px 0;

                            .block-warranty {
                                margin-top: 50px;
                            }
                        }
                    }

                    .block-reviews {
                        float: left;
                        width: 100%;
                        background: @color-white;
                        border-radius: @common-border-radius;
                        padding: 30px;
                    }
                }
            }
        }


    }

    .product-add-form {
        max-width: 100%;
    }


}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .catalog-product-view {
        .block {
            &.upsell,
            &.related {
                padding-block: 50px 10px;

                .block-title,
                .block-content {
                    max-width: @pdp-page-max-width;
                    margin: auto;
                }
            }

            &.upsell {
                background-color: @color-pg-light-gray2;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .catalog-product-view {
        .block {
            &.upsell,
            &.related {
                //width: ~'calc(100% + 220px)';
                //margin-left: -110px;
                //margin-right: -110px;
                width: 100%;
                margin: 50px 0 0;
            }
        }
    }
}
