<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <div class="title field radios">
            <input type="radio"
                   name="payment[method]"
                   class="radio"
                   data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: beforeselectPaymentMethod, visible: isRadioButtonVisible()"/>
            <label class="label" data-bind="attr: {'for': getCode()}">
                <span data-bind="attr: {'class': 'payment-icon payment-indodana-logo'}"></span>
                <span data-bind="text: getTitle()"></span>
            </label>
        </div>
        <div id="dvmsgIndodana">
            <br>            
            <label id="lblErrMsgIndodana" style="color:red;"></label>           
        </div>
    
    </div>

    <div class="payment-method-content">
        
        <div class="payment-method-logo-icon">
            <span data-bind="attr: {'class': 'payment-icon payment-indodana-logo'}"></span>
        </div>

        <div>              
            <!-- ko foreach: getPaymentOptions()  -->
            <div class="field choice" style="padding-bottom: 15px;">
                <div class="title field radios">
                    <input type="radio"
                           name="payment[id]"
                           class="radio"
                           data-bind="attr: {'id': id}, value: id, click: $parent.onInstallmentClick"/>
                    <label class="label" data-bind="attr: {'for': id}">
                        <span data-bind="text: paymentType"></span>
                        <span >cicilan per bulan </span> <span data-bind="text: monthlyInstallment "></span>
                    </label>
                </div>
            </div>
            <!-- /ko -->         
        </div>



        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>


        <div class="actions-toolbar" >
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: beforePlaceOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
