<?xml version="1.0"?>
<!--
/**
 * Kemana_Banner
 * @author Gayan Thrimanne<gthrimanne@kemana.com>
 * @see README.md
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Kemana_Banner">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Kemana_Core"/>
        </sequence>
    </module>
</config>
