<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_Customer
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Kristian Claridad <kclaridad@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="restrict_website" instance="Kemana\Customer\Observer\RestrictSiteIfEmptyPhoneNumber" />
    </event>
    <event name="customer_login">
        <observer name="kemana_customer_login" instance="Kemana\Customer\Observer\Customer\CustomerLogin" />
    </event>
    <event name="customer_account_edited">
        <observer name="kemana_customer_account_edited_tp" instance="Kemana\Customer\Observer\Customer\CustomerLogin"/>
    </event>
</config>
