<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_MsDynamics
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Kemana\MsDynamics\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Kemana\MsDynamics\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">MsDynamicErp</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Kemana\MsDynamics\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Kemana\MsDynamics\Logger\InventoryHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Kemana\MsDynamics\Logger\InventoryLogger">
        <arguments>
            <argument name="name" xsi:type="string">InventoryLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Kemana\MsDynamics\Logger\InventoryHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msDynamicCustomersFromErpToMagento" xsi:type="object">
                    Kemana\MsDynamics\Console\Customer\SyncFromErpToMagento
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msDynamicCustomersFromMagentoToErp" xsi:type="object">
                    Kemana\MsDynamics\Console\Customer\SyncFromMagentoToErp
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msDynamicProductsFromErpToMagento" xsi:type="object">
                    Kemana\MsDynamics\Console\Product\SyncFromErpToMagento
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="msDynamicOrdersFromMagentoToErp" xsi:type="object">
                    Kemana\MsDynamics\Console\Order\SyncFromMagentoToErp
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="updateproductweight" xsi:type="object">
                    Kemana\MsDynamics\Console\Product\UpdateProductWeight
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Reward\Model\Reward" type="Kemana\MsDynamics\Model\Reward" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="msdynamic_logs_listing_data_source" xsi:type="string">
                    Kemana\MsDynamics\Model\ResourceModel\ApiTransportLog\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Kemana\MsDynamics\Model\ResourceModel\ApiTransportLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">api_transport_log</argument>
            <argument name="resourceModel" xsi:type="string">
                Kemana\MsDynamics\Model\ResourceModel\ApiTransportLog
            </argument>
        </arguments>
    </virtualType>
    <type  name="Magento\Checkout\Controller\Cart\Index">
           <plugin name="cat_page_plugin" sortOrder="1"  disabled="false"
           type="Kemana\MsDynamics\Plugin\Controller\Cart\Index"/>
    </type>
    <preference for="Magento\ProductAlert\Block\Product\View\Stock" type="Kemana\MsDynamics\Preference\Block\Product\View\Stock" />
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="is_synced_to_msdynamic_erp" xsi:type="string">sales_order.is_synced_to_msdynamic_erp</item>
            </argument>
        </arguments>
    </virtualType>
</config>
