<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="!isLoading() && !selectedLocation()">
    <p class="no-selected-location">
        <translate args="'Select the nearest Planet Gadget store.'"/>
    </p>
</if>
<div class="selected-location-details location-details" if="selectedLocation">
    <div class="selected-location-head-line">
        <span data-bind="i18n: 'Pilih Planet Gadget Store terdekat:'"></span>
    </div>
    <br>
    <p class="location-name">
        <text args="selectedLocation().name"/>
        <span class="store-distance" if="selectedLocation().latitude && selectedLocation().longitude">
            (
                <span data-bind="text: getDistance(selectedLocation()), attr: {class: 'location-distance-' + selectedLocation().pickup_location_code }"></span>
            )
        </span>
    </p>
    <p class="location-address">
        <text args="selectedLocation().street"/><br/>
        <text args="selectedLocation().city"/>, <span text="selectedLocation().region"></span>
        <text args="selectedLocation().postcode"/><br/>
        <text args="selectedLocation().country"/><br/>
        <br/>
        <a if="selectedLocation().telephone"
           attr="'href': 'tel:' + selectedLocation().telephone"
           text="selectedLocation().telephone"
        ></a>
    </p>
    <!-- ko with: {locationDescriptionUnsanitizedHtml: selectedLocation().description} -->
    <p class="location-description" html="locationDescriptionUnsanitizedHtml"></p>
    <!-- /ko -->
</div>
