<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_Common
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="threshold_pdp_item_sold" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Number of Sold Items Count in PDP If Count Is More Than</label>
                    <validate>validate-digits</validate>
                    <comment>To show the already sold item count in PDP the sold item count should be grated than this number.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
