// /**
//  * Copyright © 2022 Kemana. All rights reserved.
//  * @author Harshani Karunasekara <hkarunasekara@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__font-family: @font-family-name__base;
@product-name-link__font-weight: @font-weight__heavier;
@product-name-link__text-transform: none;
@product-name-link__font-size: 14;
@product-name-link-desktop-hover__color: false;

@plp-product-item-title__height: auto;

@plp-product-item-img-overlay__background: rgba(255, 255, 255, 0.5);

@product-price__font-family: @font-family-name__base;
@product-price__font-size: 14;
@product-price__font-weight: @font-weight__bold;

@product-name-link__color: @kemana-primary-brand-color;
@product-name-link__color__active: @kemana-primary-brand-color;
@product-name-link__color__hover: @kemana-primary-brand-color;
@product-name-link__color__visited: @kemana-primary-brand-color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item-desktop__padding: 0 10px;
@product-item-mobile__padding: 0 5px;

@product-desktop-grid-product-count: 4;
@product-related-grid-product-count: 4;
@product-tablet-grid-product-count: 2;
@product-mobile-grid-product-count: 2;

@product-compare__font-size: 18px;
@product-compare__line-height: 29px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-products {
        #kemana-bannerslider-block-before-content-2 {
            display: none;
        }
    }

    .products-grid {
        .product-items {
            display: block;
            .product-item {
                .product-item-info {
                    .lib-css( background-color, @color-white);
                    border-radius: @common-border-radius;
                    height: 100%;
                    padding: 10px;
                    transition: all .5s ease;

                    &:hover {
                        .lib-css(box-shadow, @common__box-shadow);
                    }

                    .product-image-wrapper {
                        padding-bottom: 100% !important;

                        &:hover {
                            .img-overlay {
                                opacity: 1;
                            }
                        }
                    }

                    .product-item-name {
                        margin: @indent__base - 3px 0 @indent__s - 4px;
                    }

                    .product-reviews-summary {
                        .rating-summary {
                            height: 16px;
                        }
                    }

                    .sold-out {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                    }

                    &:hover {
                        .action {
                            &.tocompare {
                                opacity: 1;
                                display: unset;
                                width: 29px;
                                .lib-line-height(29);

                                &:before {
                                    .lib-font-size(18);
                                    .lib-css(color, @color-pg-light-gray);
                                }

                                &:hover {
                                    &:before {
                                        .lib-css(color, @kemana-primary-brand-color);
                                    }
                                }
                            }
                        }

                        .img-overlay {
                            opacity: 0;
                        }
                    }
                }
            }
        }

    }

    .product-item {
        .price-box {
            .lib-line-height(18);

            .price {
                .lib-line-height(@product-price__font-size + 4);
            }
        }

        .special-price {
            margin-bottom: 0;
        }

        .old-price {
            margin-left: 0;
            text-decoration: none;
            display: inline-block;

            .price {
                text-decoration: line-through;
            }
        }

        .discount {
            display: inline-block;
            border-radius: 0 20px 20px 20px;
            height: 16px;
            line-height: 16px;
            padding: 0 5px;
            width: 38px;
            text-align: center;
            .lib-css(color, @color-white);
            .lib-css(font-weight, @font-weight__bold);
            text-transform: uppercase;
            background: @color-pg-red;
            .lib-font-size(10);
            margin-left: 10px;
        }

        .price-from {
            margin-bottom: 8px;
        }

        .price-to {
            .old-price {
                margin: 4px 0 0;
                display: inline-block;
            }
        }

        //.tocompare {
        //    .lib-icon-font(
        //        @icon-pg-compare,
        //        @_icon-font: @icon-font,
        //        @_icon-font-color: @product-grid-wishlist-icon-color,
        //        @_icon-font-color-hover: @product-grid-wishlist-icon-hover,
        //        @_icon-font-size: @product-compare__font-size,
        //        @_icon-font-line-height: @product-compare__line-height,
        //        @_icon-font-margin: 2px 0 0 0
        //    );
        //
        //    width: 29px;
        //    height: 29px;
        //    border-radius: 50%;
        //    background: @color-white !important;
        //    padding: 0;
        //    text-align: center;
        //    position: absolute;
        //    right: 10px;
        //    top: 48px;
        //    z-index: 2;
        //    text-decoration: none;
        //    //opacity: 0;
        //    .lib-css(box-shadow, @common__box-shadow);
        //    .lib-vendor-prefix-display(flex);
        //    .lib-css(justify-content, center, 1);
        //    .lib-css(align-items, center, 1);
        //
        //    img,
        //    span {
        //        display: none;
        //    }
        //}
    }

    .product-item-name {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid {
        .product-items {
            .product-item {
                margin-bottom: 10px;

                .product-item-info {
                    min-height: 298px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid {
        .product-items {
            .product-item {
                margin-bottom: 20px;

                .product-item-info {
                    min-height: 330px;
                }
            }
        }
    }

    .product-item {
        .tocompare {
            opacity: 0;
        }
    }
}
