// /**
//  * Copyright © 2022 Kemana. All rights reserved.
//  * @author Harshani Karunasekara <hkarunasekara@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .top-link {
        position: relative;

        .account-menu {
            margin-bottom: 0;

            .menu-content {
                margin-bottom: 0;
                padding: 0;

                .main-item {
                    .lib-font-size(10);
                    .lib-css(font-weight, @font-weight__semibold);
                    display: block;
                    .lib-icon-font(
                        @icon-pg-account,
                        @_icon-font: @icon-font,
                        @_icon-font-color: @header-account-icon__color,
                        @_icon-font-color-hover: @header-account-icon__color-hover,
                        @_icon-font-size: @top-header-icon__font-size,
                        @_icon-font-line-height: @top-header-icon__line-height,
                        @_icon-font-margin: 0,
                        @_icon-font-position: before
                    );
                    vertical-align: top;

                    a {
                        //.lib-css(width, unset);
                        //.lib-css(height, unset);
                        display: block;
                        //position: absolute;
                        //left: 0;
                        //top: 0;
                    }
                }
            }
        }
    }

    .account-social-login-title {
        text-align: center;
        .lib-css(margin-bottom, 13px);
        .lib-line-height(13);
        .lib-css(border-top, 1px solid @color-pg-light-gray2);

        span {
            display: inline-block;
            background: @color-white;
            top: -8px;
            padding-inline: 10px;
            position: relative;
            .lib-css(color, @kemana-primary-brand-color);
            font-weight: @font-weight__heavier;
        }

        &:after {
            display: none;
        }
    }

    .account-social-login {
        margin-bottom: 0;

        .facebook-login {
            padding-right: 0;
            width: 100%;
            float: left;
        }

        .google-login {
            margin-top: 10px;
            padding-left: 0;
            width: 100%;
            float: left;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .top-link {
        margin-left: 12px;

        .account-menu {
            ul.menu-content {
                li.main-item {
                    height: 48px;
                    width: 22px;

                    &:before {
                        .lib-font-size(22);
                        .lib-line-height(48);
                    }

                    a {
                        font-size: 0;
                        width: 23px;
                        height: 48px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .account-detail__content {
            z-index: 9999 !important;
            top: 61px;
            right: -72px !important;
            width: 200px;
            border-radius: @common-border-radius;
            padding: 10px 0;
            border: none;

            &:after {
                content: "";
                width: 12px;
                height: 12px;
                transform: rotate(-45deg);
                background: @color-white;
                position: absolute;
                z-index: -1;
                top: -5px;
                right: 88px;
            }

            &.social-login-accordion {
                &:after {
                    right: 107px;
                }

                .social-login-title {
                    display: block;

                    h2 {
                        .lib-font-size(16);
                        .lib-line-height(22);
                    }

                    font-weight: @font-weight__regular;
                }

                .list-info {
                    li {
                        a {
                            .lib-css(font-weight, @social-login-header-login-button__font-weight);
                        }
                    }
                }

                .actions-toolbar {
                    .primary {
                        text-align: left;

                        button {
                            text-align: center;
                        }

                        .login-inline-message {
                            padding-top: @indent__base;
                        }
                    }
                }

                .account-social-login {
                    .btn-social {
                        &.btn-facebook,
                        &.btn-google {
                            .lib-font-size(12);

                            &:before {
                                .lib-font-size(16);
                                .lib-line-height(16);
                            }
                        }
                    }
                }
            }

            .list-info {
                li {
                    margin-bottom: 0;
                    padding: 0;
                    .lib-line-height(13);

                    > a {
                        .lib-line-height(13);
                        text-align: left;
                        padding: 10px 20px;

                        &:hover {
                            background: @color-pg-light-gray2;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .header-right {
            .top-link {
                margin: 0 10px 0 10px;
                //position: relative;
                //top: -8px;

                .account-menu {
                    .menu-content {
                        .main-item {
                            width: 100%;
                            position: relative;
                            padding-top: 31px;
                            height: 43px;
                            line-height: 12px;

                            &:before {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                line-height: 24px;
                                margin-bottom: 7px;
                                text-align: center;
                            }

                            a {
                                width: auto;
                                position: static;
                                .lib-css(color, @color-white);
                                .lib-line-height(12);
                                height: 12px;
                            }

                            &:hover {
                                &:before {
                                    .lib-css(color, @kemana-secondary-brand-color);
                                }

                                a {
                                    .lib-css(color, @kemana-secondary-brand-color);
                                    text-decoration: none;
                                }
                            }

                            &.customer-login-link {
                                &:hover {
                                    &:before {
                                        .lib-css(color, @kemana-secondary-brand-color);
                                    }

                                    a {
                                        .lib-css(color, @kemana-secondary-brand-color);
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //.top-link {
    //    .account-menu {
    //        .menu-content {
    //
    //
    //            .main-item {
    //                width: unset;
    //                padding-inline: 15px;
    //
    //                &:before {
    //                    position: absolute;
    //                    display: block;
    //                    top: 0;
    //                    left: 50%;
    //                    transform: translateX(-50%);
    //                }
    //
    //                a {
    //                    display: block;
    //                    width: auto;
    //                    padding-inline: 15px;
    //
    //                }
    //            }
    //        }
    //    }
    //}
}
