<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_MsDynamics
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>, Jalpa Patel <jalpa@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="kemana_customer_save_after" instance="Kemana\MsDynamics\Observer\Customer\SaveRewardPoints" />
    </event>
    <event name="review_save_commit_after">
        <observer name="kemana_review_save_commit_after" instance="Kemana\MsDynamics\Observer\Customer\ReviewSubmit" />
    </event>
</config>
