<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_MsDynamics
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="msdynamic" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Microsoft Dynamic ERP</label>
            <tab>kemana</tab>
            <resource>Kemana_MsDynamic::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_mode" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Mode</label>
                    <source_model>Kemana\MsDynamics\Model\Config\Source\ApiMode</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Api Url - Common</label>
                    <comment>Without backslash for end</comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="url_for_delete" translate="label" type="text" sortOrder="35" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Api Url</label>
                    <comment>for inventory api and delete customer</comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Username</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Password</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="xmlns" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>XMLNS URN in XML Request Body - Common</label>
                    <comment>Without backslash for end</comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="xmlns_for_delete" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>XMLNS URN in XML Request Body</label>
                    <comment>for inventory api and delete customer</comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
                <field id="enable_log" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>var/log/MsDynamics/ms_dynamic.log</comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
