// /**
//  * Copyright © 2022 Kemana. All rights reserved.
//  * @author Harshani Karunasekara <hkarunasekara@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-noroute-index {
        .page-main {
            max-width: @other-pages-max-width;

            .page-title-wrapper {
                h1 {
                    display: none;
                }
            }
        }

        .column.main {
            padding-block: 100px 20px;
            text-align: center;

            img {
                max-width: 320px;
                float: none;
            }


            p {
                margin-inline: auto;
                width: 100%;
                margin-bottom: 30px;

                a {
                    .lib-button-primary();
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .column.main {
        h1 {
            .lib-heading(h2);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-noroute-index {
        .column.main {
            h1 {
                .lib-font-size(28);
                .lib-line-height(38);
            }
        }
    }
}
