// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cart-summary {
        .form.giftregistry .fieldset {
            margin-top: 7px;

            .field {
                margin: 0 0 20px 0;
                .control {
                }
            }

            .action.primary {
                text-transform: unset;
                .lib-button-white();

                &:before {
                    display: none;
                }
            }
        }
    }

    .giftregistry-type {
        margin-bottom: 30px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .account {
        &.magento_giftregistry-index-index {
            .giftregistry {
                margin-bottom: 15px;
            }

            .table-giftregistry {
                thead {
                    tr {
                        th {
                            &.event {
                                width: 19%;
                            }

                            &.create {
                                width: 17%;
                            }

                            &.message {
                                width: 25%;
                            }

                            &.actions {
                                width: 39%;
                                text-align: right;

                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            &.event {
                            }

                            &.create {
                            }

                            &.message {
                            }

                            &.actions {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
