// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Harshani Karunasekara <hkarunasekara@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________

@minicart-header-icon: @icon-pg-cart;
@minicart-header-icon__font-size: 30px;
@minicart-header-icon__line-height: 48px;
@minicart-header-icon-desktop__font-size: 23px;
@minicart-header-icon-desktop__line-height: 23px;

@minicart__padding-horizontal: 20px;

@minicart-product-name-size: 12;

@minicart-price__font-size: 12;
@minicart-price__font-weight: @font-weight__bold;


@minicart__border-color: @color-pg-light-gray2;

@minicart-qty__height: 20px;
@minicart-qty-desktop__height: 20px;
@minicart-qty__top: 2px;
@minicart-qty__right: -9px;
@minicart-qty-desktop__top: 11px;
@minicart-qty-desktop__right: @minicart-qty__right;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------
    .minicart-wrapper {
        .action {
            &.showcart {
                position: relative;

                &:hover {
                    .text {
                        .lib-css(color, @kemana-secondary-brand-color);
                    }
                }

                .counter {
                    &.qty {
                        .lib-css(background, @color-pg-red);
                        .lib-css(color, @color-white);
                        .lib-css(line-height, @minicart-qty__height);
                    }
                }
            }

            &.delete {
                .lib-icon-font-symbol(@_icon-font-content: @icon-pg-close-button);

                &:before {
                    vertical-align: top;
                }
            }
        }

        .block-minicart {
            .block-title {
                display: block;
                .lib-heading(h4);

                .qty {
                    display: none;
                }
            }

            .minicart-items {
                .product-item-details {
                    padding-left: 80px;

                    .product-item-name {
                        padding-bottom: 3px;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        height: 43px;
                    }

                    .action {
                        &.delete {
                            .lib-icon-font(
                                @icon-pg-delete,
                                @_icon-font-size: 12px,
                                @_icon-font-margin: 3px 10px 0 0,
                                @_icon-font-color: @color-pg-light-gray
                            );
                        }
                    }
                }
            }
        }
    }

    .minicart-items-wrapper {
        .lib-css(border-top, 1px solid @minicart__border-color);
        padding-top: 20px;
        height: 307px !important;
        max-height: 307px !important;
    }

    .dropdown-opened {
        position: fixed;
        z-index: 10;
        padding-top: 112px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .minicart-wrapper{
        .ui-widget-content{
            //display: block !important;
        }
        .block-minicart{
            .product-item-details{
                .product-item-name{
                    margin-bottom: 15px;
                }

                .product-item-pricing{
                    display: inline-flex;
                    flex-flow: row-reverse;

                    .details-qty{
                        margin: -10px 10px 0 0;

                        .label{
                            display: none;
                        }

                        .cart-item-qty{
                            border: 1px solid @color-pg-light-gray;
                            padding-top: 5px;
                            padding-left: 21px;
                            height: 34px;
                            width: 50px;
                        }

                        .minicart-update-button{
                            width: 50px;
                        }
                    }
                }

                .action.delete{
                    &:hover{
                        &:before{
                            color: @primary__color__dark;
                        }
                    }
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        .action {
            &.showcart {
                &:before {
                    .lib-font-size(22);
                    .lib-line-height(48);
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        height: 43px;
        line-height: 12px;

        .mage-dropdown-dialog {
            &:before {
                content: "";
                background: @color-white;
                position: absolute;
                right: 36%;
                top: 44px;
                width: 12px;
                height: 12px;
                transform: rotate(-45deg);
                display: block;
                z-index: 102;
            }
        }
        .action {
            &.showcart {
                padding-top: 31px;
                position: relative;
                padding-inline: 10px 0;
                height: 43px;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    .lib-font-size(23);
                    .lib-line-height(31);
                }

                &.active {
                    &:before {
                        .lib-font-size(23);
                        .lib-line-height(31);
                        .lib-css(color, @kemana-secondary-brand-color);
                    }

                    &:hover {
                        &:before {
                            .lib-css(color, @kemana-secondary-brand-color);
                        }
                    }
                }

                &:hover {
                    &:before {
                        .lib-css(color, @kemana-secondary-brand-color);
                    }
                }

                .text {
                    &:extend(.abs-visually-hidden-reset all);
                    .lib-font-size(10);
                    .lib-line-height(12);
                    font-weight: @font-weight__semibold;
                    .lib-css(color, @color-white);
                    white-space: nowrap;
                    padding-inline: 0;
                    position: static;
                }

                .counter {
                    &.qty {
                        right: 4px;
                        top: 0;
                        min-width: 20px;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
        }

        .block-minicart {
            top: 48px;
            width: 310px;
            border-radius: @common-border-radius;

            .block-content {
                &.message-empty {
                    .subtitle {
                        &.empty {
                            .lib-font-size(12);
                            font-weight: @font-weight__bold;

                            &:before {
                                content: '';
                                width: 140px;
                                height: 110px;
                                display: block;
                                background: url(../images/empty-cart.svg) center no-repeat;
                                margin: 0 auto 20px;
                            }
                        }
                    }
                }

                .minicart-items {
                    .product-item-name {
                        .lib-line-height(@minicart-product-name-size + 8);
                    }

                    .product-item-details {
                        .price {

                        }
                    }
                }

                .subtotal {
                    .lib-vendor-prefix-display();
                    justify-content: space-between;
                    margin: 17px 0 16px;

                    .label {
                        .lib-font-size(14);
                        .lib-line-height(24);
                        .lib-css(font-weight, @font-weight__bold);
                        text-transform: none;
                    }

                    .amount {
                        .price-wrapper {
                            .price {
                                .lib-font-size(14);
                                .lib-line-height(24);
                                .lib-css(font-weight, @font-weight__bold);
                            }
                        }
                    }
                }

                > .actions {
                    .lib-vendor-prefix-display();
                    .lib-vendor-prefix-flex-direction(column);

                    > .secondary,
                    > .primary {
                        width: 100%;
                        max-width: 100%;
                    }

                    > .primary {
                        margin-bottom: @indent__s;
                        order: 1;
                    }

                    > .secondary {
                        order: 2;
                    }

                }
            }
        }
    }
}

//
//  Desktop Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .minicart-wrapper {
        .block-minicart {
            right: 0;
        }
    }
}
