<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_MsDynamics
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="kemana_customer_register_success"
                  instance="Kemana\MsDynamics\Observer\Customer\CustomerRegisterSuccess"/>
    </event>
    <event name="customer_account_edited">
        <observer name="kemana_customer_account_edited"
                  instance="Kemana\MsDynamics\Observer\Customer\CustomerAccountEdited"/>
    </event>
    <event name="customer_address_save_after">
        <observer name="kemana_customer_address_save_after"
                  instance="Kemana\MsDynamics\Observer\Customer\CustomerAddressSaveAfter"/>
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="checkout_cart_product_add_to_cart_before" instance="Kemana\MsDynamics\Observer\Inventory\BeforeAddToCart" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="kemana_checkout_controller_success_action"
                  instance="Kemana\MsDynamics\Observer\Order\AfterPlaceOrder"/>
    </event>
    <event name="magento_invitation_save_commit_after">
        <observer name="kemana_magento_invitation_save_commit_after" 
                  instance="Kemana\MsDynamics\Observer\Customer\InvitationToCustomer" />
    </event>
</config>
