<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_Common
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Kemana\AcceleratorBase\Block\Catalog\Product\ProductsList">
        <plugin name="kemana_common_product_list_after_getCustomProductsCollection"
                type="Kemana\Common\Plugin\Block\Catalog\Product\ProductsList" sortOrder="10" />
    </type>

    <preference for="Magento\Review\Block\Product\View\ListView" type="Kemana\Common\Block\Product\View\ListView"/>
    <preference for="Magento\Wishlist\Block\Customer\Wishlist" type="Kemana\Common\Block\Customer\Wishlist"/>
</config>
