<!--
/**
 * KS_Logistic
 *
 * @see README.md
 *
 */
-->
<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <!-- ko text: address().prefix --><!-- /ko --> <span class="username"> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().middlename --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> </span> <!-- ko text: address().suffix --><!-- /ko --><br/>
    <!-- ko text: _.values(address().street).join(", ") --><!-- /ko --><br/>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: (attribute === "district") -->
                <!-- ko if: (typeof element[attribute] === "object") -->
                    <!-- ko text: element[attribute].value --><!-- /ko -->
                <!-- /ko -->
                <!-- ko if: (typeof element[attribute] === "string") -->
                    <!-- ko text: element[attribute] --><!-- /ko -->
                <!-- /ko -->,&nbsp;
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: (element['attribute_code'] === "district") -->
            <!-- ko text: element['value'] --><!-- /ko -->
            ,&nbsp;
        <!-- /ko -->
    <!-- /ko --><!-- ko text: address().city --><!-- /ko -->, <span data-bind="html: address().region"></span> <!-- ko text: address().postcode --><!-- /ko --><br/>
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
    <!-- ko if: (address().telephone) -->
    <div class="shipping-address-phone"><span>T:</span><a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a></div>
    <!-- /ko -->
    
    <!-- ko if: (getMapPoint()) -->
    <div class="pin-point"><span data-bind="i18n: 'Map Point:'"></span><text args="getMapPoint()"/></div>
    <div class="set-pin-point"><span data-bind="i18n: 'Sudah Pinpoint'"></span></div>
    <!-- /ko -->

    <!-- ko ifnot: (getMapPoint()) -->
    <div class="not-pin-point"><span data-bind="i18n: 'Belum Pinpoint'"></span></div>      
    <!-- /ko -->

    <!-- ko if: (address().isEditable()) -->
    <button type="button"
            class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->
    <button type="button" data-bind="click: selectAddress" class="action action-select-shipping-item">
        <span data-bind="i18n: 'Ship Here'"></span>
    </button>
</div>
