<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 PT Kemana Teknologi Solusi. All rights reserved.
 * http://www.kemana.com
 */

/**
 * @category Kemana
 * @package  Kemana_Promotion
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 *
 * @author   Achintha Madushan <amadushan@kemana.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <promotion>
            <general>
                <promotion_short_content_length_on_landing_page>75</promotion_short_content_length_on_landing_page>
                <promotions_per_page>12</promotions_per_page>
            </general>
        </promotion>
    </default>
</config>
