<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Corporate Form"}} @-->
<!--@vars {
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.desired":"Sender Name",
"var data.intrested":"Sender Name",
"var data.telephone":"Sender Telephone"
"var data.companyname":"Sender companyname"
"var data.companyfield":"Sender companyfield"
"var data.job":"Sender job"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email"}}</strong></td>
        <td>{{var data.email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone"}}</strong></td>
        <td>{{var data.telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Company Name"}}</strong></td>
        <td>{{var data.companyname}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Company Field"}}</strong></td>
        <td>{{var data.companyfield}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Job"}}</strong></td>
        <td>{{var data.job}}</td>
    </tr>
</table>
<p>{{var data.desired}}</p>

{{template config_path="design/email/footer_template"}}
