// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Parth Godhani <pgodhani@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________
@color-gray-line1: #E3E3E3;
@color-lightyellow-bg: #FFF9E8;
@color-oragne-bd: #FFC619;
@color-gray-border-1: #AEB4C1;

//
//  Common
//  _____________________________________________
& when (@media-common =true) {
    .checkout-index-index {
        .authentication-wrapper{
            display: none;
        }
        .header-top-wrapper{
            display: none;
        }
        .checkout-container {
            margin-top: 25px;
        }

        .page-wrapper {
            .page-main {
                margin-top: 40px;
            }
        }

        .opc-sidebar {
            width: 38%;
        }

        .opc-wrapper {
            width: 60%;
            .step-title {
                width: 489px;
                height: 22px;
                letter-spacing: 0px;
                color: @color-black;
                text-align: left;
                font: normal normal bold 20px/30px Spartan;
            }

            .form-login {
                border-right: unset !important;
                width: 315px;
                margin-left: 20px;

                .field-tooltip-content{
                    top: -35px;
                }
            }

            .checkout-social-container {
                margin-top: 0 !important;
                width: 100% !important;

                .checkout-social-login {
                    .social-btn {
                        margin-bottom: 0 !important;
                        max-width: unset !important;
                        height: 40px;
                    }
                }
            }

            .step-title {
                border-bottom: unset;
            }

            .opc {
                >.checkout-shipping-address {
                    width: 100%;
                    border: 1px solid @color-pg-light-gray2;
                    border-radius: 0px 5px 0px 0px;
                    border-bottom: 0;
                }

                >.checkout-shipping-method {
                    margin-top: unset !important;
                    width: 100%;
                    border-radius: 0px 0px 5px 5px;
                    border-bottom: 0;
                    border: 1px solid @color-pg-light-gray2;
                    border-top: 0;

                    .sub-title{
                        span{
                            color: @primary__color__dark;
                        }
                    }

                    #checkout-step-shipping_method{
                        .no-quotes-block {
                            border: 1px solid #000;
                            border-radius: 5px;
                            padding: 5px;
                            margin: 30px -10px;
                            padding-bottom: 10px;
                            padding-left: 10px;

                            &:before {
                                content: '\e95f';
                                font-family: 'icons-kemana-theme';
                                font-size: 20px;
                                color: black;
                                border-radius: 10px;
                                margin-right: 10px;
                                position: relative;
                                top: 3px;
                            }
                        }

                        .table-checkout-shipping-method{
                            .row-error{
                                .message{
                                    &.error {
                                         > * {
                                            &:first-child {
                                                &:before {
                                                    background: unset !important;
                                                    content: "\e95f";
                                                    font-family: 'icons-kemana-theme';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .row.shipping-insurance{
                            display: unset !important;

                            .insurance-title{
                                display: flex;
                                flex-wrap: nowrap;

                                .insurance-header{
                                    font-weight: 700;
                                }

                                input + label{
                                    &:before{
                                        content: '';
                                        text-align: center;
                                        left: 0;
                                        top: -3px;
                                        height: 18px;
                                        width: 18px;
                                        line-height: 16px;
                                        border: 1px solid #aeb4c1;
                                        border-radius: 5px;
                                        padding: 2px 8px;
                                        margin-right: 10px;
                                    }
                                }

                                input:checked + label{
                                    &:before{
                                        -webkit-font-smoothing: antialiased;
                                        font-size: 7px;
                                        line-height: 16px;
                                        color: #ff8419;
                                        content: "\e95d";
                                        font-family: 'icons-kemana-theme';
                                        margin: 0;
                                        vertical-align: middle;
                                        display: inline-block;
                                        font-weight: normal;
                                        overflow: hidden;
                                        speak: none;
                                        text-align: center;
                                        padding: 0;
                                        margin-right: 10px;
                                    }
                                }
                                input.checkbox{
                                    display: none;
                                }
                            }

                            .insurance-content{
                                .insurance-short-description{
                                    p{
                                        margin: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .form-shipping-address {
                .fieldset {
                    &:last-child {
                        margin-left: 20px;
                    }
                }
            }

            .step-content {
                margin-bottom: 0px;

                .action-select-shipping {
                    width: 200px;
                    height: 48px;
                    background: @color-pg-light-gray2 0% 0% no-repeat padding-box;
                    border: 1px solid @color-pg-light-gray2;
                    border-bottom: 0;
                    border-radius: 5px 0px 0px 0px;
                    text-transform: capitalize;

                    &:before {
                        content: '';
                        width: 35px;
                        height: 18px;
                        background: url(../images/order-fulfillment-shipping.svg) center no-repeat;
                        display: inline-block;
                        vertical-align: sub;
                    }
                }

                #checkout-shipping-method-load {
                    margin-top: 50px;

                    .table-checkout-shipping-method{
                        margin-top: -20px;

                        .shipping-logo-image{
                            width: 75px;
                        }
                        .shipping-method-info-details{
                            padding-top: 10px;

                            .price{
                                color: @primary__color__dark;
                                font-weight: 500 !important;
                            }
                        }
                    }
                }

                .action-select-store-pickup {
                    background: @color-pg-light-gray2 0% 0% no-repeat padding-box;
                    border: 1px solid @color-pg-light-gray2;
                    border-bottom: 0;
                    border-radius: 0px 5px 0px 0px;
                    text-transform: capitalize;

                    &:before {
                        content: '';
                        width: 35px;
                        height: 18px;
                        background: url(../images/collect-at-store.svg) center no-repeat;
                        display: inline-block;
                        vertical-align: sub;
                    }
                }

                .primary {
                    border-radius: @common-border-radius;
                    border: none;
                    float: unset !important;
                }

                #shipping-method-buttons-container {
                    display: contents;
                }

                form#co-shipping-method-form {
                    padding-bottom: 30px;
                }
            }

            .social-login-authentication-channel.account-social-login {
                .block-content {
                    width: 325px;
                    height: 55px;
                }
            }

            .button-maps {
                background: @color-white 0% 0% no-repeat padding-box;
                border: 1px solid @color-black;
                border-radius: @common-border-radius;
                opacity: 1;
                margin-top: 20px;

                span{
                    text-transform: capitalize !important;
                }

                &:before {
                    content: '';
                    width: 17px;
                    height: 20px;
                    background: url(../images/Pin.svg) center no-repeat;
                    margin: 0;
                    display: inline-block;
                    vertical-align: sub;
                }
            }

            .control {
                span.note {
                    font-size: 10px !important;
                }
            }

            .table-checkout-shipping-method {
                .row-error {
                    .col-error {
                        .message.error {
                            border-color: @color-black  !important;
                        }
                    }
                }
            }

            .checkout-shipping-method {
                .checkout-shipping-method {
                    padding: 0 20px;
                    margin-top: -40px;
                }
            }

           .checkout-social-login {
                .block-content {
                    .social-btn a{
                        &:hover {
                            background: @color-black 0% 0% no-repeat padding-box;
                            color: @color-white;
                        }
                    }
                }
            }

            #shipping-new-address-form {
                .field .control{
                    button.button-maps{
                        &:hover {
                            background-color: @primary__color__dark;
                            color: @color-white;

                            &:before{
                                background: unset;
                            }
                        }
                            background: url(/media/logistic/Pin_white.png) left no-repeat;
                            background-size: 15px !important;
                            background-origin: content-box;
                    }
                }
                .maps-input-title{
                    width: max-content;
                }
                .admin__control-text.maps-input{
                    border: none;
                    background: url(/media/logistic/Pinpoint.png) left no-repeat;
                    background-size: 15px !important;
                    display: inline-block;
                    padding: 20px;
                    padding-top: 25px !important;
                    margin-top: 5px;

                }
            }

            #store-pickup {
                margin-bottom: -1px;

                .step-content {
                    .action.action-select-store-pickup {
                        width: 200px;
                        height: 48px;
                    }
                }
            }

            .field-tooltip._active {
                .field-tooltip-content {
                    color: @color-black;
                }
            }

            .authentication-wrapper {
                display: none;
            }

            #checkoutSteps {
                .checkout-shipping-address {
                    padding: 10px;

                    .step-title {
                        text-transform: unset;
                        padding: 10px 20px;
                    }

                    #checkout-step-shipping {
                        .form-login .fieldseperation span.note.fieldseperate{
                            overflow: hidden;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 325px;

                            &:before {
                                background-color: @color-gray-line1;
                                content: "";
                                display: inline-block;
                                height: 1px;
                                position: relative;
                                vertical-align: middle;
                                width: 50%;
                            }

                            &:after {
                                background-color: @color-gray-line1;
                                content: "";
                                display: inline-block;
                                height: 1px;
                                position: relative;
                                vertical-align: middle;
                                width: 50%;
                            }
                        }

                        .selected-location-head-line{
                            padding-top: 30px;
                        }
                    }

                    .form-login{
                        padding-top: 20px;

                        span.note{
                            font-weight: 600;
                            color: @primary__color__dark;
                        }

                        .actions-toolbar {
                            margin-bottom: 20px;

                            .action.primary{
                                background-color: @color-oragne-bd;
                                border: 1px solid @color-oragne-bd;
                                color: @primary__color__dark;

                                &:hover {
                                    background-color: @color-pg-orange;
                                    border: 1px solid @color-pg-orange;
                                    color: @primary__color__dark;
                                }
                            }

                            .secondary {
                                display: none !important;
                            }
                        }
                    }
                }

                .checkout-shipping-method {
                    .checkout-shipping-method {
                        .step-title {
                            text-transform: unset;
                        }
                    }
                }
            }

            .shipping-address-item{
                margin-left: 0px;
            }

            .shipping-address-items{
                margin-left: 5px;

                .selected-item {
                    background-color: @color-lightyellow-bg;
                    border-color: @color-oragne-bd !important;
                    border-radius: @common-border-radius;
                    width: 278px;
                    height: fit-content;
                    line-height: 20px;

                    .shipping-address-phone{
                        a{
                            text-decoration: none;
                            color: @primary__color__dark;
                        }
                    }
                }

                .not-selected-item {
                    border-radius: @common-border-radius;
                    width: 278px;
                    height: fit-content;
                    line-height: 20px;

                  .shipping-address-phone{
                        a{
                            text-decoration: none;
                            color: @primary__color__dark;
                        }
                    }
                }

                span.username {
                    font-weight: bold;
                }
                .shipping-address-phone{
                    display: flex;
                }

                .not-pin-point{
                    background: url(../images/Pinpoint-Not-Set.svg) left no-repeat;
                    color: @color-pg-dark-gray;

                    span{
                        margin-left: 22px;
                    }
                }

                .pin-point{
                    display: none;
                }

                .set-pin-point{
                    background: url(../images/Pinpoint-Set.svg) left no-repeat;
                    color: @color-pg-green;

                    span{
                        margin-left: 22px;
                    }
                }

            }

            #store-selector {
                .step-head-title{
                    span{
                        text-align: left;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .form-login {
                    .actions-toolbar {
                        .secondary {
                            display: none !important;
                        }
                    }
                }
            }
        }

        .panel.wrapper{
            display: none;
        }

        .ui-datepicker {
            .ui-datepicker-title {
                position: relative;

                .ui-datepicker-month {
                    min-width: 180px;
                }
            }
            .ui-datepicker-year {
                position: absolute;
                .lib-font-size(12);
                .lib-line-height(13);
                .lib-css(font-weight, @font-weight__bold);
                right: 10px;
                top: 13px;
            }

            .ui-datepicker-buttonpane {
                .lib-vendor-prefix-display();
                justify-content: space-between;

                .ui-datepicker-close {
                    order: -1;
                }
            }
        }
    }

    .new-address-popup {
        margin-top: -30px !important;

        .action-show-popup {
            margin-left: 20px;
            background-color: @color-white;
            border: 1px solid @primary__color__dark;
        }
    }

    .opc-wrapper{
        #store-selector{
            background-color: @color-white;
            padding: 10px 10px;

            #checkout-step-store-selector{
                display: contents;

                .actions-toolbar{
                    display: grid;

                    .secondary{
                        button.button.action{
                            background-color: @color-white;
                            border: 1px solid @primary__color__dark;

                            &:hover{
                                background-color: @primary__color__dark;
                                color: @color-white;
                            }
                        }
                    }
                }
                .selected-location-details{
                    margin-left: 20px;
                    margin-top: 20px;

                    .location-name{
                        font-size: 12px;
                        font-weight: bold;

                        .store-distance{
                            font-weight: normal;
                            color: @color-pg-dark-gray;
                        }
                    }
                    .location-address{
                        margin-top: -10px;
                        color: @primary__color__dark;

                        a{
                            margin-top: 10px;
                            font-size: 10px;
                            font-weight: bold;
                            text-decoration: none;

                            &:before {
                                content: "\e906";
                                font-family: 'icons-kemana-theme';
                                font-weight: bold;
                                margin: -3px 6px 0 0;
                                color: @color-gray-border-1;
                                font-size: small;
                            }
                        }
                    }

                    .location-description{
                            display: flex;
                            flex-wrap: nowrap;
                            font-size: 10px;
                            font-weight: bold;

                            &:before{
                            content: '\e933';
                            font-family: 'icons-kemana-theme';
                            font-weight: bold;
                            margin: -3px 6px 0 0;
                            color: @color-gray-border-1;
                            font-size: small;
                        }
                    }
                }

                .form-continue{
                    .actions-toolbar{
                        .primary{
                            button[disabled]{
                                background-color: @color-gray-line1;
                                color: @color-pg-dark-gray;
                            }
                        }
                    }

                    .field[name~="delivery_date.delivery_date"] {
                        .control {
                            .lib-icon-font(
                                @icon-pg-calendar,
                                @_icon-font-color: @color-pg-light-gray,
                                @_icon-font-size: @icon-calendar__font-size,
                                @_icon-font-position: before
                            );

                            &:before {
                                position: absolute;
                                right: 10px;
                                z-index: 0;
                                top: 5px;
                            }

                            position: relative;
                            display: block;

                            input {
                                z-index: 10;
                                position: relative;
                                background: none;
                                cursor: pointer;
                            }
                        }
                    }

                    .field[name~="delivery_date.delivery_time"] {
                        select {
                            .lib-line-height(20);

                            option {
                                .lib-css(color, @kemana-primary-brand-color);
                                .lib-font-size(12);
                                .lib-line-height(20);
                                .lib-css(font-weight, @font-weight__heavier);
                                padding: 2px 0;
                            }
                        }
                    }
                }
            }

            .step-title{
                display: none;
                padding: 20px 20px;
            }

            .form-login {
                .fieldseperation {
                    padding: 20px 0;
                    margin-top: -20px;

                    span.note.fieldseperate {
                        overflow: hidden;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:before {
                            background-color: @color-gray-line1;
                            content: "";
                            display: inline-block;
                            height: 1px;
                            position: relative;
                            vertical-align: middle;
                            width: 50%;
                        }

                        &:after {
                            background-color: @color-gray-line1;
                            content: "";
                            display: inline-block;
                            height: 1px;
                            position: relative;
                            vertical-align: middle;
                            width: 50%;
                        }
                    }
                }

                span.note{
                    font-weight: 600;
                    color: @primary__color__dark;
                }

                .actions-toolbar{
                    margin-bottom: 20px;
                }
            }
        }
        .selected-store-pickup {
            .step-content {
                .form-continue {
                    .actions-toolbar {
                        >.primary {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

    }

    .opc-summary-wrapper{
        .block.summary-totals{
            tr.totals.shipping.excl td span {
                color: @color-pg-dark-gray;
            }
        }
    }

    aside.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide{
        .opc-block-summary{
            .items-in-cart{
                span.title{
                    font-weight: 500;
                }

                .product.options{
                    .content{
                        display: unset !important;
                    }
                }
            }
            .block.items-in-cart.active{
                .minicart-items-wrapper{
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
            }
        }

        .opc-block-shipping-information{
            .shipping-information{
                .ship-to{
                    .shipping-method-details{
                        padding-bottom: 10px;

                        .title-value{
                            font-weight: bold;
                        }
                    }

                    .shipping-information-phone{
                        a{
                            text-decoration: none;
                            color: @primary__color__dark;
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .checkout-container {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;

        #store-pickup {
            .action-select-shipping {
                width: 50% !important;
            }
            .action-select-store-pickup {
                width: 50% !important;
            }
        }

        .opc-sidebar {
            width: 100% !important;
            z-index: 0;
            order: 1;
            margin-top: -20px !important;

            #opc-sidebar{
                margin-left: 10px;
                width: 94%;
                border: 1px solid @color-gray-border-1;
                border-radius: @common-border-radius;
                background-color: @color-white;
                margin-bottom: 20px;

            }

            .opc-block-summary {
                width: 100% !important;
                display: flex;
                flex-direction: column;
                padding: 0 20px 0px;
                margin: 2px !important;

                .summary-totals {
                    display: none;
                    order: 2;
                    margin-bottom: unset !important;
                }

                .items-in-cart {
                    border: 0px !important;

                    .minicart-items{
                        padding-top: 5px;
                    }
                }
            }
        }

        .checkout-shipping-method {
            .checkout-shipping-method {
                padding: 0 !important;
            }
        }

        .checkout-shipping-address {
            #checkout-step-shipping .form-login .fieldseperation {
                span.note.fieldseperate {
                    width: 100% !important;
                }
            }

            .step-title{
                padding: 10px 0 !important;
            }

            .form-login{
                border-bottom: unset !important;
            }
        }

        .opc-wrapper {
            width: 100% !important;
            order: 2;

            .form-login {
                border-right: unset !important;
                width: 100% !important;
                margin-left: unset !important;
            }

            .form-shipping-address {
                .fieldset {
                    &:last-child {
                        margin-left: unset !important;
                    }
                }
            }

            .block.social-login-authentication-channel.account-social-login {
                .block-content {
                    width: 100% !important;
                    margin-left: unset !important;
                }
            }

            .methods-shipping {
                .actions-toolbar {
                    .action.primary {
                        margin: 5px 0 0;
                    }
                }
            }

            #co-shipping-form {
                #shipping-new-address-form {
                    .field._required {
                        display: block;
                        width: 100%;
                        margin-left: unset !important;
                    }
                    .maps-input-title{
                        width: fit-content !important;
                    }

                    .field-tooltip-content{
                        top: -35px;
                    }
                }
            }

            .action-show-popup {
                width: 100%;
            }

            .shipping-address-item{
                margin-left: 0 !important;
                margin: 10px 0 10px;
                width: 100% !important;
            }

            .field-tooltip._active {
                .field-tooltip-content {
                    margin-top: 64px;
                }
            }
        }

        .modal-inner-wrap {
            .modal-content {
                .opc-block-summary {
                    margin-left: unset !important;
                }
            }
        }

        .new-address-popup {
            margin: 0 0 0 !important;
            .action-show-popup {
                margin-left: 0 !important;
            }
        }

        .shipping-address-items{
            margin-left: 0 !important;
            margin-top: 10px !important;
        }
    }

    .opc-wrapper{
        #store-selector{
            #checkout-step-store-selector{
                .actions-toolbar{
                    .secondary{
                        padding-left: unset !important;
                        width: 100%;
                    }
                }
                .selected-location-details{
                    margin-left: 0 !important;
                }
            }
            .step-head-title{
                padding: 20px 0;
                margin-bottom: -30px;
            }
            .no-selected-location{
                margin: 20px 0;
            }
            .step-title{
                padding: 30px 10px !important;
            }
            .checkout-social-container{
                margin-top: 0 !important;
            }
        }
        .step-content{
            .primary{
                margin-bottom: 30px;
            }
        }
    }

    aside.modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide{
        .opc-block-shipping-information{
            display: none;
            width: 95%;
            padding-left: 15px;

            .shipping-information{
                border: 1px solid @color-gray-line1;
                border-radius: 5px;
                margin-bottom: 20px;

                .ship-to{
                    .shipping-information-title{
                        border-bottom: 1px solid @color-gray-line1 !important;
                    }
                }

                .ship-via{
                    .shipping-information-title{
                        border-bottom: 1px solid @color-gray-line1 !important;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .opc-wrapper{
        #checkoutSteps {
            .form-login{
                span.note{
                    width: max-content;
                }

                #customer-email-fieldset{
                    #customer-email{
                        width: 90% !important;
                    }

                    .field-tooltip.toggle{
                        right: 0 !important;
                    }
                }
            }

            .checkout-shipping-address{
                #checkout-step-shipping{
                    .selected-location-head-line{
                        padding-left: 21px;
                    }
                }
            }
        }

        #store-selector{
            width: 640px;
            height: 100%;

            #checkout-step-store-selector {
                .actions-toolbar{
                    .secondary {
                        margin-left: 5px;

                        button.button.action {
                            width: 340px;
                        }
                    }
                }

                .form-continue{
                    .field{
                        padding-left: 20px;
                        padding-top: 5px;
                        padding-bottom: 20px;

                        .control{
                            max-width: 340px;
                        }
                    }
                }
            }
            .form-login {
                .fieldseperation {
                    span.note.fieldseperate {
                        width: 325px;
                    }
                }

                #store-pickup-customer-email-fieldset{
                    #store-pickup-checkout-customer-email{
                        width: 90% !important;
                    }

                    .field-tooltip.toggle{
                        right: 0 !important;
                    }
                }

                span.note{
                    width: max-content;
                }
            }
            .step-head-title{
                padding: 20px 20px;
                margin-bottom: -30px;
            }
            .no-selected-location{
                margin: 20px 20px;
            }
        }
        .selected-store-pickup {
            .step-content {
                .form-continue {
                    .actions-toolbar {
                        >.primary {
                            width: 342px;
                            margin-left: 19px;
                            margin-bottom: 30px;

                            button{
                                width:342px;
                            }
                        }
                    }
                }
            }
        }
        .shipping-address-items{
            padding: 30px 0;
            padding-top: 0;

            .shipping-address-item{
                margin-left: 15px;
            }

            .selected-item {
                margin-right: unset !important;
            }

            .not-selected-item {
                margin-right: unset !important;
            }
        }

        #co-shipping-form {
            #shipping-new-address-form {
                .field-tooltip-content{
                    top: -35px;
                }
            }
        }
    }
    .opc-summary-wrapper{
        .opc-block-summary{
            .block.items-in-cart{
                margin-top: -20px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .opc-wrapper{
        .field-tooltip._active {
            .field-tooltip-content {
                margin-top: 64px;
            }
        }
    }
}
