// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Parth Godhani <pgodhani@kemana.com>
//  * http://www.kemana.com
//  */

//
//  Variables
//  _____________________________________________
@content_color_3: #F2F2F2;
@content_color_4: #E3E3E3;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
	.checkout-index-index {
		.page-wrapper {
			.page-main {
				margin-top: 40px;
			}
		}
	}
	.modal-inner-wrap {
		.modal-content {
			.opc-block-summary {
				margin-left: -80px;
			}
		}
	}

	.opc-wrapper{
		.action-select-shipping {
			top: 110px;
			left: 143px;
			width: 154px;
			height: 48px;
			background: @content_color_3 0% 0% no-repeat padding-box;
			opacity: 1;
		}

		.step-title {
			top: 187px;
			left: 173px;
			width: 489px;
			height: 22px;
			letter-spacing: 0px;
			color: @color_1;
			opacity: 1;
			text-align: left;
			font: normal normal bold 20px/30px Spartan;
		}

		.checkout-social-container {
			display: block !important;
		}

		.form-login {
			border-right: unset !important;
			width: 315px;
			margin-left: 20px;
		}

		.checkout-social-container {
			.checkout-social-login {
				.facebook-login {
					max-width: unset !important;
					height: 40px;
				}

				.google-login {
					max-width: unset !important;
					height: 40px;
				}
			}
		}


		.step-title {
			border-bottom: unset;
		}

		.opc {
			>.checkout-shipping-address {
				width: 640px;
			}
			>.checkout-shipping-method {
				margin-top: unset !important;
				width: 640px;
			}
		}

		.form-shipping-address {
			.fieldset {
				&:last-child {
					margin-left: 20px;
				}
			}
		}

		#delivery-method-selector {
			.action-select-shipping {
				background: @content_color_4 0% 0% no-repeat padding-box;
				border: 1px solid @content_color_4;
			}
			.action-select-store-pickup {
				background: @content_color_4 0% 0% no-repeat padding-box;
				border: 1px solid @content_color_4;
			}
		}

		.block.social-login-authentication-channel.account-social-login {
			.block-content {
				width: 325px;
				height: 55px;
			}
		}

		button.button-maps {
			background: @color_5 0% 0% no-repeat padding-box;
			border: 1px solid @color_1;
			border-radius: 5px;
			opacity: 1;
		}

		div#shipping-method-buttons-container {
			.primary {
				color: @color_6;
				background: @content_color_4 0% 0% no-repeat padding-box;
				border-radius: 5px;
				border: none;
			}
		}

		.control {
			span.note {
				font-size: 10px !important;
			}
		}

		#checkout-step-shipping_method {
			div#shipping-method-buttons-container {
				display: contents;
			}

			form#co-shipping-method-form {
				padding-bottom: 30px;
			}
		}

		#shipping-method-buttons-container {
			.primary {
				float: unset !important;
			}
		}

		.table-checkout-shipping-method {
			.row-error {
				.col-error {
					.message.error {
						border-color: @color_1 !important;
					}
				}
			}
		}

		.opc {
			.checkout-shipping-method {
				.checkout-shipping-method {
					padding: 0 20px;
				}
			}
		}

		.checkout-social-login {
			.block-content {
				.social-btn {
					a {

						&:hover {
							background: @color_1 0% 0% no-repeat padding-box;
							color: @color_5;
						}
					}
				}
			}
		}

		#shipping-new-address-form {
			.field {
				.control {
					button.button-maps {
						&:hover {
							background-color: @color_1;
							color: @color_5;
						}
					}
				}
			}
		}

		#store-pickup {
			.step-content {
				button.action.action-select-store-pickup {
					top: 110px;
					left: 143px;
					width: 154px;
					height: 48px;
				}
			}
		}

		.field-tooltip._active {
			.field-tooltip-content {
				color: @color_1;
			}
		}

		#checkoutSteps {
			.checkout-shipping-address {
				.step-title {
					text-transform: unset;
				}
			}
		}

		#checkoutSteps {
			.checkout-shipping-method {
				.checkout-shipping-method {
					.step-title {
						text-transform: unset;
					}
				}
			}
		}

		#delivery-method-selector {
			.action.selected {
				background: #ffffff !important;
			}
		}



	}

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.opc-wrapper{
		.opc {
			>.checkout-shipping-address {
				width: 100% !important;
			}
			>.checkout-shipping-method {
				width: 100% !important;
			}
		}
		.form-login {
			border-right: unset !important;
			width: 100% !important;
			margin-left: unset !important;
		}
		.form-shipping-address {
			.fieldset {
				&:last-child {
					margin-left: unset !important;
				}
			}
		}

		.block.social-login-authentication-channel.account-social-login {
			.block-content {
				width: 100% !important;
				margin-left: unset !important;
			}
		}

		.methods-shipping {
			.actions-toolbar {
				.action.primary {
					margin: 5px 0 0;
				}
			}
		}

		.modal-inner-wrap {
			.modal-content {
				.opc-block-summary {
					margin-left: unset !important;
				}
			}
		}

		#co-shipping-form {
			#shipping-new-address-form {
				.field._required {
					display: block;
					width: 100%;
					margin-left: unset !important;
				}
			}
		}


	}
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}

