// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Ashan Gunawardena <agunawardena@kemana.com>
//  * http://www.kemana.com
//  */

//  Header variables
@logo-desktop__margin: 20px auto 20px 0;

@navigation-mobile__background: @color-white;
@navigation-mobile__padding: 10px;
@navigation-mobile-close__icon: @icon-pg-close-button;
@navigation-mobile-close__font-size: 18px;
@navigation-mobile-close__line-height: 48px;

@header-dropdown__background: @color-white;
@header-dropdown__border: 1px solid @color-kemana-gray4;

@sale-text__color: @color-kemana-red;

@header-logo-desktop-width: 265px;
@header-logo-mobile-width: 158px;

@header-nav-toggle-desktop__top: 27px;

@navigation-wide-submenu-desktop__width: 550px;
@navigation-wide-submenu-desktop-item__width: 50%;

@header-account-icon: @icon-pg-account;
@header-account-icon__color: @color-white;
@header-account-icon__color-hover: @color-kemana-gray2;



//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-header {
        .compare {
            &.wrapper {
                display: none;
            }
        }

        .minicart-wrapper {
            margin-left: 0;

            .block-minicart {
                &:before {
                    right: 14px;
                    top: -20px;
                    border-width: 10px;
                    display: none;
                }

                &:after {
                    display: none;
                }
            }
        }

        .header {
            &.content {
                .lib-vendor-prefix-display();
                justify-content: space-between;
                align-items: center;
            }
        }

        .header-left {
            .lib-vendor-prefix-display();
            align-items: center;

            .block-mobile-addElement {
                display: none;
                .lib-visually-hidden();
                margin: 0;
            }
        }

        .header-right {
            .lib-vendor-prefix-display();
            align-items: center;

            .block-search {
                .control {
                    > .nested {
                        display: none;
                    }
                }
            }
        }

        .language-currency-wrapper {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            position: relative;

            .language-currency-block {
                cursor: pointer;
                position: relative;
                .lib-vendor-prefix-display();

                .language-flag {
                    display: inline-block;
                    vertical-align: middle;
                    float: none;
                    line-height: 1;

                    //img {
                    //    margin: 2px 0;
                    //    display: inline-block;
                    //    vertical-align: middle;
                    //    line-height: 1;
                    //    width: 25px;
                    //}


                    .lib-icon-font(
                        @icon-pg-language,
                        @_icon-font-color: @header-top-font_color,
                        @_icon-font-size: 16px,
                        @_icon-font-margin: 0 5px 0 0
                    );

                    &:before {
                        padding-left: 1px;
                    }

                }

                .language {
                    .lib-vendor-prefix-display();

                    .switcher-option.active {
                        a {
                            text-decoration: underline;
                        }
                    }

                    li {
                        padding: 0;
                        .lib-line-height(16);
                        text-transform: uppercase;
                        list-style: none;

                        a {
                            display: inline-block;
                            .lib-font-size(12);
                            .lib-line-height(12);
                            padding: 0 5px;
                            //width: 2ch;
                            //overflow: hidden;
                            //white-space: nowrap;
                        }

                        &:last-child {


                            a {
                                border-left: 1px solid @header-top-font_color;
                            }
                        }
                    }


                    //&:before {
                    //    .lib-css(border-left, @border-width__base solid @color-kemana-gray3);
                    //    content: '';
                    //    display: inline-block;
                    //    vertical-align: middle;
                    //    height: 15px;
                    //    margin: 0 8px;
                    //}

                    //.lib-icon-font(
                    //    @icon-down-arrow,
                    //    @_icon-font: @icon-font,
                    //    @_icon-font-color: @color-white,
                    //    @_icon-font-size: 7px,
                    //    @_icon-font-line-height: 8px,
                    //    @_icon-font-margin: 0 0 0 5px,
                    //    @_icon-font-position: after
                    //);
                }
            }

            .language-currency-dropdown {
                .lib-css(box-shadow, @submenu-desktop__box-shadow);
                .lib-css(font-family, @font-family-name__base);
                .lib-css(border, 1px solid @header-dropdown__border);
                .lib-css(background-color, @header-dropdown__background);
                display: none;
                position: absolute;
                top: 38px;
                right: 0;
                left: auto;
                width: 232px;
                padding: 12px 20px 15px;
                z-index: 1;

                .header-switcher {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;

                    &.switcher-language {
                        &:before {
                            .lib-css(color, @kemana-primary-brand-color);
                            content: 'Language:';
                            display: block;
                            margin-bottom: 5px;
                        }
                    }

                    &.switcher-currency {
                        &:before {
                            .lib-css(color, @kemana-primary-brand-color);
                            content: 'Currency:';
                            display: block;
                            margin-bottom: 5px;
                        }
                    }
                }

                .header-switcher + .header-switcher {
                    padding-top: 15px;
                    width: 100%;
                    margin: 0;
                }

                .switcher-options {
                    .lib-css(border, @border-width__base solid @border-color__base);
                    display: block;
                    width: 100%;
                    vertical-align: middle;
                    font-weight: normal;
                    position: relative;
                    cursor: pointer;
                }
            }
        }

        .header-right {
            .language-currency-wrapper {
                display: none;
            }
        }
    }

    .navigation {
        .level0 {
            &.sale {
                .level-top {
                    .lib-css(color, @sale-text__color);

                    &:hover {
                        .lib-css(color, @sale-text__color);

                        &:after {
                            .lib-css(border-color, @sale-text__color);
                        }
                    }
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .navigation {
            .lib-css(font-family, @navigation__font-family);
        }
    }

    //  Header Mobile extend to Tablet
    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');

            .header-left {
                > .nav-toggle {
                    .lib-icon-font(
                        @_icon-font-content: @navigation-mobile-close__icon,
                        @_icon-font-size: @navigation-mobile-close__font-size,
                        @_icon-font-line-height: @navigation-mobile-close__line-height,
                        @_icon-font-color: @color-white,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );
                    position: relative;
                    left: 0;
                    top: 0;

                    &:before {
                        position: relative;
                        z-index: 3;
                        margin-left: 0 !important;
                    }
                }
            }
        }

        .nav-sections {
            .lib-css(background, @color-pg-light-gray3);
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            top: 48px;
            z-index: 99;

            .section-item-title {
                display: none;
            }

            .navigation {
                .navbar-collapse.topmenu {
                    .lib-css(background, @navigation-mobile__background);
                    .lib-css(padding, 0 @navigation-mobile__padding);
                }

                .level0 {
                    border-top: 0;
                    margin-bottom: 0;

                    > .level-top {
                        .lib-css(font-weight, @navigation-level0-item__font-weight);
                        .lib-css(line-height, @navigation-level0-item__line-height);
                        .lib-css(padding, @navigation-level0-item__padding);
                        .lib-css(text-transform, @navigation-level0-item__text-transform);
                        display: block;
                        .lib-css(border-bottom, 0);
                    }

                    &.submenu {
                        .lib-css(background, @navigation-mobile__background);
                        .lib-css(right, @active-nav-indent);
                        .lib-css(padding-left, @navigation-mobile__padding);
                        .lib-css(padding-right, @navigation-mobile__padding);
                        position: fixed;
                        left: 0 !important;
                        height: 100%;

                        .back-button {
                            border-top: 0;
                            .lib-css(font-weight, @navigation-level0-item__font-weight);
                            .lib-css(line-height, @navigation-level0-item__line-height);
                            .lib-css(padding, @navigation-level0-item__padding);
                            .lib-css(text-transform, @navigation-level0-item__text-transform);
                            .lib-css(border-bottom, @navigation-level0-item__border);
                            padding-left: 15px;
                            display: block;
                            position: relative;
                            cursor: pointer;
                            .lib-icon-font(
                                @_icon-font-content: @icon-angel-prev,
                                @_icon-font-size: 11px,
                                @_icon-font-line-height: 15px,
                                @_icon-font-position: before,
                                @_icon-font-display: block
                            );

                            &:before {
                                left: 0;
                                top: 16px;
                                position: absolute;
                            }
                        }

                        .category-item {
                            a {
                                .lib-css(font-weight, @navigation-level0-item__font-weight);
                                .lib-css(line-height, @navigation-level0-item__line-height);
                                .lib-css(padding, @navigation-level0-item__padding);
                                .lib-css(text-transform, @navigation-level0-item__text-transform);
                                .lib-css(border-bottom, @navigation-level0-item__border);
                                display: block;
                                position: relative;
                            }

                            &:last-child {
                                > a {
                                    border-bottom: 0;
                                }
                            }

                            &.parent {
                                > a {
                                    .lib-icon-font(
                                        @_icon-font-content: @icon-angel-next,
                                        @_icon-font-size: 11px,
                                        @_icon-font-line-height: 47px,
                                        @_icon-font-position: after,
                                        @_icon-font-display: block
                                    );

                                    &:after {
                                        right: -10px;
                                        padding-right: 10px;
                                        top: 0;
                                        position: absolute;
                                        width: 30px;
                                        height: 46px;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: 0;

                        > .level-top {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }

        .mobile-menu-inner {
            padding: 16px 10px 16px;
            position: relative;

            .language-currency-wrapper {
                vertical-align: top;

                .language-currency-block {
                    .language-flag {
                        vertical-align: top;
                        margin: 0;
                    }

                    .currency {
                        vertical-align: top;
                        .lib-css(color, @color-kemana-dark2);

                        &:before {
                            .lib-css(border-left-color, @color-kemana-gray1);
                        }

                        &:after {
                            .lib-css(color, @color-kemana-dark2);
                        }
                    }
                }

                .language-currency-dropdown {
                    right: inherit;
                }
            }
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }

        .navigation {
            padding: 0;

            ul {
                margin: 0;

                li {
                    margin-bottom: 0;
                }
            }

            a {
                .lib-css(padding-top, @submenu__padding-top);
                .lib-css(padding-right, @submenu__padding-right);
                .lib-css(padding-bottom, @submenu__padding-bottom);
                .lib-css(padding-left, @submenu__padding-left);
                .lib-css(color, @navigation-level0-item__color);
                display: block;

                &:hover {
                    .lib-css(color, @navigation-level0-item__color);
                    .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                }
            }

            .parent {
                .level-top {
                    .lib-icon-font(
                        @_icon-font-content: @icon-angel-next,
                        @_icon-font-size: 11px,
                        @_icon-font-line-height: 47px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );
                    position: relative;

                    &:after {
                        right: -10px;
                        padding-right: 10px;
                        top: 0;
                        position: absolute;
                        width: 30px;
                        height: 46px;
                        text-align: right;
                    }

                    .lib-icon-font(
                        @_icon-font-content: @icon-menu,
                        @_icon-font-size: 20px,
                        @_icon-font-line-height: 20px,
                        @_icon-font-position: before,
                        @_icon-font-margin: 0 10px 0 0
                    );
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header {
        .header {
            &.content {
                width: 100%;

                &:before,
                &:after {
                    display: none;
                }

                .header-right {
                    order: 3;
                    .header-links-right {
                        display: none;
                    }
                }

                .block-search {
                    padding-block: 0;
                    margin-right: 0;
                    height: 48px;

                    label {
                        position: relative;
                        left: 0;
                        top: 0;

                        &:before {
                            .lib-css(color, @color-white);
                            .lib-line-height(48);
                            margin-right: 12px;
                        }
                    }

                    .action {
                        &.search {
                            top: -48px;
                            left: 0px;

                            &:before {
                                .lib-css(color, @color-white);
                            }
                        }
                    }
                }

                .header-left {
                    order: 1;

                    .nav-toggle {
                        position: relative;
                        left: 0;
                        height: 48px;
                        width: 22px;

                        &:before {
                            margin-left: -3px;
                            .lib-line-height(48);
                        }
                    }

                    .block-mobile-addElement {
                        display: block;
                        overflow: unset;
                        position: relative;
                        width: 100%;
                        height: inherit;

                        .account-menu {
                            margin-bottom: 0;

                            .account-menu_content {
                                .menu-content {
                                    background: @color-white;
                                    width: 100%;
                                    list-style: none;
                                    padding: 0 10px;
                                    margin-bottom: 0;

                                    .main-item {
                                        padding-block: 16px;
                                        margin-bottom: 0;
                                        border-top: 1px solid @color-pg-light-gray2;

                                        &:last-of-type {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            display: inline-block;
                                            .lib-css(color, @theme__color__primary-alt);
                                            .lib-css(font-weight, @font-weight__bold);
                                            .lib-line-height(20);

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }

                                        &.pg-club {
                                            a {
                                                .lib-icon-font(
                                                    @icon-pg-club,
                                                    @_icon-font: @icon-font,
                                                    @_icon-font-color: @kemana-primary-brand-color,
                                                    @_icon-font-size: 20px,
                                                    @_icon-font-line-height: 20px,
                                                    @_icon-font-margin: -3px 10px 0 0,
                                                    @_icon-font-position: before
                                                );
                                            }

                                        }


                                        &.pg-track {
                                            a {
                                                .lib-icon-font(
                                                    @icon-pg-track,
                                                    @_icon-font: @icon-font,
                                                    @_icon-font-color: @kemana-primary-brand-color,
                                                    @_icon-font-size: 20px,
                                                    @_icon-font-line-height: 20px,
                                                    @_icon-font-margin: -3px 10px 0 0,
                                                    @_icon-font-position: before
                                                );
                                            }

                                        }
                                    }

                                    .account-login {
                                        width: 100%;
                                        padding-bottom: 16px;

                                        .lib-icon-font(
                                            @header-account-icon,
                                            @_icon-font: @icon-font,
                                            @_icon-font-color: @kemana-primary-brand-color,
                                            @_icon-font-color-hover: @kemana-primary-brand-color,
                                            @_icon-font-size: 20px,
                                            @_icon-font-line-height: 20px,
                                            @_icon-font-margin: 0 10px 0 0,
                                            @_icon-font-position: before
                                        );
                                        //.lib-vendor-prefix-display();
                                        //.lib-vendor-prefix-flex-wrap();
                                        .lib-font-size(12);
                                        align-items: center;
                                        vertical-align: top;
                                        margin-bottom: 0;

                                        a {
                                            .lib-css(font-weight, @font-weight__bold);
                                        }

                                        ul {
                                            margin-top: 16px;
                                            padding-left: 0;
                                            list-style: none;

                                            li {
                                                padding-block: 6px 7px;
                                                margin-bottom: 0;

                                                a {
                                                    .lib-css(color, @theme__color__primary-alt);
                                                    .lib-css(font-weight, @font-weight__heavier);

                                                    &:hover {
                                                        text-decoration: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .menu-content-2 {
                                    width: 100%;
                                    list-style: none;
                                    padding: 0 10px;
                                    margin-bottom: 0;
                                    background: @color-pg-light-gray3;

                                    .main-item {
                                        padding-block: 16px;
                                        margin-bottom: 0;
                                        border-top: 1px solid @color-pg-light-gray2;

                                        &:first-child {
                                            border-top: 0;
                                        }

                                        &:last-of-type {
                                            margin-bottom: 0;
                                            padding-bottom: 0;
                                        }

                                        a {
                                            .lib-css(color, @theme__color__primary-alt);
                                            .lib-css(font-weight, @font-weight__heavier);

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .logo {
                    order: 2;
                    margin-block: 12px;
                    margin-left: 0;

                    img {
                        height: 24px;
                        width: 159px;
                    }
                }
            }

            //.megamenu-wrapper {r
            //    .megamenu-inner {
            //        display: none;
            //    }
            //}
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-header {
        .header-left {
            width: 37%;
            display: block;
            float: left;
            order: 1;
        }

        .block-search {
            width: 30%;
            order: 2;

            .control {
                padding-bottom: 0;
            }
        }

        .header-right {
            width: 33%;
            float: right;
            max-width: 446px;
            order: 3;

            .language-currency-wrapper {
                display: none;
            }

            .header-links-right {
                height: 43px;
                .lib-vendor-prefix-display();

                li {
                    &:first-child {
                        a {
                            .lib-icon-font(
                                @icon-pg-club,
                                @_icon-font: @icon-font,
                                @_icon-font-color: @color-white,
                                @_icon-font-size: 26px,
                                @_icon-font-line-height: 26px,
                                @_icon-font-margin: 0 0 7px 0,
                                @_icon-font-position: before
                            );

                            &:before {
                                position: absolute;
                                display: block;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);

                            }

                            position: relative;
                            padding-top: 31px;
                            .lib-line-height(12);
                        }
                    }

                    &:last-child {
                        a {
                            .lib-icon-font(
                                @icon-pg-track,
                                @_icon-font: @icon-font,
                                @_icon-font-color: @color-white,
                                @_icon-font-size: 26px,
                                @_icon-font-line-height: 26px,
                                @_icon-font-margin: 0 0 7px 0,
                                @_icon-font-position: before
                            );

                            &:before {
                                position: absolute;
                                display: block;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);

                            }

                            position: relative;
                            padding-top: 31px;
                            .lib-line-height(12);
                        }
                    }

                    a {
                        &:hover {
                            .lib-css(color, @kemana-secondary-brand-color);
                            &:before {
                                .lib-css(color, @kemana-secondary-brand-color);
                            }
                        }
                    }
                }

                > li {
                    list-style: none;
                    white-space: nowrap;
                    padding: 0 14px;

                    a {
                        .lib-css(color, @color-white);
                        .lib-font-size(10);
                        .lib-css(font-weight, @font-weight__semibold);
                    }
                }
            }
        }

        .logo {
            .lib-css(width, @header-logo-desktop-width);
            margin-left: 45px;
        }

        .language-currency-wrapper {
            .language-currency-block {
                .language {
                    li {
                        a {
                            .lib-css(color, @header-top-font_color);
                            font-weight: @font-weight__semibold;
                        }
                    }
                }
            }
        }
    }

    .nav-toggle {
        .lib-css(top, @header-nav-toggle-desktop__top);
    }
}

//
//  Desktop Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-header {
        .header-left {
            .lib-vendor-prefix-display();
        }

        .nav-sections {
            margin-bottom: 0;
            padding-left: 45px;
            float: left;
            background: transparent;
            .lib-css(transition, left .3s, 1);
            height: auto;
            overflow: inherit;
            position: static;
            width: auto;
        }

        .nav-toggle {
            display: none;
        }


        .logo {
            margin-left: 0;
        }

        #megamenu {
            .megamenu-wrapper {
                .lib-css(width, @navigation-wide-submenu-desktop__width);
                .lib-css(border, none);
                .lib-css(box-shadow, @submenu-desktop__box-shadow);
                padding: 15px;
                border-radius: 0;

                //&:after {
                //    background: rgba(0, 0, 0, @overlay__opacity);
                //    content: '';
                //    display: block;
                //    height: 100%;
                //    position: fixed;
                //    right: 0;
                //    top: 0;
                //    width: 100%;
                //    z-index: 1;
                //}

                ul.level0 {
                    > li {
                        .lib-css(width, @navigation-wide-submenu-desktop-item__width);
                        display: inline-block;
                        vertical-align: top;
                        float: none;
                        padding: 0;
                    }
                }

                li.level1 {
                    > a {
                        .lib-css(font-family, @navigation__font-family);
                        .lib-font-size(@navigation-desktop__font-size - 2px);
                        .lib-line-height(19);
                        .lib-css(font-weight, @font-weight__bold);

                        span {
                            .lib-css(font-family, @navigation__font-family);
                            .lib-font-size(@navigation-desktop__font-size - 2px);
                            .lib-line-height(19);
                        }
                    }

                    &.parent {
                        > a {
                            .lib-icon-font(
                                @icon-pg-right-thick,
                                @_icon-font-size: 9px,
                                @_icon-font-position: after);

                            &:after {
                                border: none;
                                width: auto;
                                height: auto;
                            }
                        }
                    }

                    .submenu-title {
                        .lib-css(font-family, @navigation__font-family);
                        .lib-font-size(@navigation-desktop__font-size);
                        .lib-line-height(20);
                        .lib-css(font-weight, @font-weight__bold);
                        .lib-css(color, @kemana-primary-brand-color);
                        padding: 0 0 @indent__base 0;
                    }

                    ul,
                    ul.level1 {
                        padding-left: 0;
                        margin-bottom: @indent__base !important;

                        li {
                            padding-right: 12%;
                        }

                        a {
                            .lib-font-size(@navigation-level0-item__font-size);
                            .lib-line-height(13);
                            .lib-css(font-family, @navigation-submenu__font-family);
                            .lib-css(font-weight, @font-weight__regular);
                            .lib-css(color, @kemana-primary-brand-color);
                            border: 0;
                            padding: @indent__s 0;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &.active {
                        > a {
                            text-decoration: underline;
                        }
                    }
                }

                ul.level0:not(.default-menu) {
                    li.level1 {
                        > a {
                            .lib-css(color, @kemana-primary-brand-color);
                            padding: 7px 20px !important;
                            .lib-font-size(12);
                            .lib-line-height(13);
                            border: 0;
                        }
                    }
                }

                &.tabs-menu {
                    &.vertical {
                        width: 660px !important;
                        min-height: 386px !important;
                        //max-height: 550px !important;
                        height: 550px !important;
                        padding: 0;
                        border-radius: 0 0 5px 5px;
                        top: 80px;


                        ul.level0 {
                            &.submenu {
                                width: 310px !important;
                                background-color: @color-white;

                                li.level1 {
                                    > a {
                                        width: 100%;
                                    }

                                    > ul {
                                        display: none;
                                    }

                                    .megamenu-inner {
                                        left: 270px;
                                        width: 350px;
                                        padding: 0;
                                        height: 100% !important;
                                        overflow-y: scroll;
                                        box-shadow: inset 20px 0 20px -20px rgba(0,0,0,0.16);

                                            /* width */
                                            &::-webkit-scrollbar {
                                                width: 10px;
                                                padding: 0 6px;
                                                background: @color-pg-light-gray5;
                                            }

                                            /* Track */
                                            &::-webkit-scrollbar-track {
                                                border-radius: 0;
                                            }

                                            /* Handle */
                                            &::-webkit-scrollbar-thumb {
                                                background: @color-pg-light-gray4;
                                                border-radius: @common-border-radius;
                                                width: 5px;
                                                margin: 0 6px;
                                            }

                                            /* Handle on hover */
                                            &::-webkit-scrollbar-thumb:hover {
                                                background: @color-pg-light-gray4;
                                            }

                                        ul.level1 {
                                            &.submenu {
                                                li.level2 {
                                                    margin-top: 0;
                                                    padding-inline: 20px;

                                                    > a {
                                                        .lib-font-size(14);
                                                        .lib-css(font-weight, @font-weight__bold);
                                                    }

                                                    ul.level2 {
                                                        &.submenu {
                                                            margin-bottom: 0 !important;
                                                            padding: 0;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        li.level0 .megamenu-wrapper {
            //transform: translateY(0);
            //top: auto;
            //display: block !important;
            //visibility: visible;
            //left: 0;
            //right: 0;
            //z-index: 999;
            //opacity: 1;
        }
    }

    .black-overlay {
        display: none;
    }

    .page-header {
        z-index: 200;
    }

    body.active,
    body.active2 {
        .black-overlay,
        .black-overlay-two {
            background: var(---000000-primary-black) 0% 0% no-repeat padding-box;
            background: rgba(0, 0, 0, 1) 0% 0% no-repeat padding-box;
            opacity: 0.5;
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 100;
            left: 0;
        }
    }
}

//
//  Desktop Extra Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .page-header {
        .header-left {
            width: 38%;
            display: block;
        }

        .block-search {
            width: 36%;
            max-width: 530px;
        }

        .header-right {
            width: 26%;
            max-width: unset;
            justify-content: right;

            .language-currency-wrapper {
                display: none;
            }


        }
    }
}


//
//  Desktop XExtra Large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .page-header {
        .header-left {
            width: 35%;
        }

        .block-search {
            width: 41%;
        }

        .header-right {
            width: 24%;

        }
    }
}

/* Tablet device */
@media (min-width: @screen__m) and (max-width: 1023px) {
    .page-header {
        .header {
            &.content {
                width: 100%;
                height: 48px;
                padding: 0 40px;

                &:before,
                &:after {
                    display: none;
                }

                .header-right {
                    order: 3;
                    .header-links-right {
                        display: none;
                    }

                    .minicart-wrapper {
                        .action.showcart {
                            .text {
                                display: none;
                            }
                        }
                    }
                }

                .block-search {
                    padding-block: 0;
                    margin-right: 0;
                    height: 48px;

                    label {
                        position: relative;
                        left: 0;
                        top: 0;

                        &:before {
                            .lib-css(color, @color-white);
                            .lib-line-height(48);
                            margin-right: 18px;
                        }
                    }

                    .action {
                        &.search {
                            top: -48px;
                            left: 0px;

                            &:before {
                                .lib-css(color, @color-white);
                            }
                        }
                    }
                }

                .header-left {
                    order: 1;

                    .nav-toggle {
                        position: relative;
                        left: 0;
                        height: 48px;
                        width: 22px;

                        &:before {
                            margin-left: -3px;
                            .lib-line-height(48);
                        }
                    }

                    .block-mobile-addElement {
                        display: block;
                        overflow: unset;
                        position: relative;
                        width: 100%;
                        height: inherit;

                        .account-menu {
                            margin-bottom: 0;

                            .account-menu_content {
                                .menu-content {
                                    background: @color-white;
                                    width: 100%;
                                    list-style: none;
                                    padding: 0 10px;
                                    margin-bottom: 0;

                                    .main-item {
                                        padding-block: 16px;
                                        margin-bottom: 0;
                                        border-top: 1px solid @color-pg-light-gray2;

                                        &:last-of-type {
                                            margin-bottom: 0;
                                        }

                                        a {
                                            display: inline-block;
                                            .lib-css(color, @theme__color__primary-alt);
                                            .lib-css(font-weight, @font-weight__bold);
                                            .lib-line-height(20);

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }

                                        &.pg-club {
                                            a {
                                                .lib-icon-font(
                                                    @icon-pg-club,
                                                    @_icon-font: @icon-font,
                                                    @_icon-font-color: @kemana-primary-brand-color,
                                                    @_icon-font-size: 20px,
                                                    @_icon-font-line-height: 20px,
                                                    @_icon-font-margin: -3px 10px 0 0,
                                                    @_icon-font-position: before
                                                );
                                            }

                                        }


                                        &.pg-track {
                                            a {
                                                .lib-icon-font(
                                                    @icon-pg-track,
                                                    @_icon-font: @icon-font,
                                                    @_icon-font-color: @kemana-primary-brand-color,
                                                    @_icon-font-size: 20px,
                                                    @_icon-font-line-height: 20px,
                                                    @_icon-font-margin: -3px 10px 0 0,
                                                    @_icon-font-position: before
                                                );
                                            }

                                        }
                                    }

                                    .account-login {
                                        width: 100%;
                                        padding-bottom: 16px;

                                        .lib-icon-font(
                                            @header-account-icon,
                                            @_icon-font: @icon-font,
                                            @_icon-font-color: @kemana-primary-brand-color,
                                            @_icon-font-color-hover: @kemana-primary-brand-color,
                                            @_icon-font-size: 20px,
                                            @_icon-font-line-height: 20px,
                                            @_icon-font-margin: 0 10px 0 0,
                                            @_icon-font-position: before
                                        );
                                        //.lib-vendor-prefix-display();
                                        //.lib-vendor-prefix-flex-wrap();
                                        .lib-font-size(12);
                                        align-items: center;
                                        vertical-align: top;
                                        margin-bottom: 0;

                                        a {
                                            .lib-css(font-weight, @font-weight__bold);
                                        }

                                        ul {
                                            margin-top: 16px;
                                            padding-left: 0;
                                            list-style: none;

                                            li {
                                                padding-block: 6px 7px;
                                                margin-bottom: 0;

                                                a {
                                                    .lib-css(color, @theme__color__primary-alt);
                                                    .lib-css(font-weight, @font-weight__heavier);

                                                    &:hover {
                                                        text-decoration: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .menu-content-2 {
                                    width: 100%;
                                    list-style: none;
                                    padding: 0 10px;
                                    margin-bottom: 0;
                                    background: @color-pg-light-gray3;

                                    .main-item {
                                        padding-block: 16px;
                                        margin-bottom: 0;
                                        border-top: 1px solid @color-pg-light-gray2;

                                        &:first-child {
                                            border-top: 0;
                                        }

                                        &:last-of-type {
                                            margin-bottom: 0;
                                            padding-bottom: 0;
                                        }

                                        a {
                                            .lib-css(color, @theme__color__primary-alt);
                                            .lib-css(font-weight, @font-weight__heavier);

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .logo {
                    order: 2;
                    margin: 0;
                    margin-block: 12px;
                    margin-left: 0;

                    img {
                        height: 24px;
                        width: 159px;
                    }
                }
            }

        }

        .minicart-wrapper {
            height: auto;

            .action.showcart {
                height: auto;

                .counter.qty {
                    right: -18px;
                }
            }
        }

        .block-search {
            float: none;
            margin-right: 0;
            position: static;
            z-index: 4;
            width: 100%;
            max-width: none;
        }
    }

    .top-link {
        .account-menu {
            ul.menu-content {
                li.main-item {
                    a {
                        font-size: 0;
                        width: 23px;
                        height: 48px;
                    }
                }

                .main-item {
                    margin-left: 17px;

                    &:before {
                        font-size: 22px;
                        line-height: 21px;
                    }
                }
            }
        }

        .social-login-accordion {
            display: none;
        }
    }

    .nav-sections {
        width: 100%;
    }

    .nav-open {
        .nav-toggle {
            &:after {
                background: none;
            }
        }
    }
}
