// /**
//  * Copyright © 2020 Kemana. All rights reserved.
//  * @author Harshani Karunasekara <hkarunasekara@kemana.com>
//  * http://www.kemana.com
//  */

//  Bank & Promo variables

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .category-top-section {
        .block {
            &.widget {
                .widget-title {
                    text-transform: none;
                    text-align: left;
                    .lib-title-with-border(@title-text-underline__enable: true);
                }

                .category-top-grid {
                    .category-top-items {
                        margin-bottom: 0;
                        padding-left: 0;

                        .slick-slide {
                            > div {
                                .lib-vendor-prefix-display();
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .category-top-section {
        padding-block: 36px 40px;

        .block {
            &.widget {
                .category-top-items {
                    list-style: none;
                    .lib-vendor-prefix-display();
                    .lib-vendor-prefix-flex-wrap();
                    margin-inline: -5px;

                    .category-item {
                        width: 50%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .category-top-section {
        .lib-css(padding-block, @block-padding - 2  @block-padding - 10);

        .block {
            &.widget {
                .widget-title {
                    h2 {
                       .lib-css(margin-bottom, @h2__margin-bottom-desktop - 10);
                    }
                }

                .category-top-grid {
                    margin-inline: -@indent__s;
                }
            }
        }
    }


}
